<div class="grid no-gutters"  *ngIf="filterModel$|async as filterModel">
  <div class="col-11">
    <p-checkbox label="{{filterModel.filterDto.description}}: "
                [binary]="true" [ngModel]="true" [readonly]=filterModel.filterDto.readonly class="readonly-filter-checkbox">
    </p-checkbox>
    <a (click)="showNetworkSelector()"><span style="padding-left: 5px;cursor: pointer;">select...</span></a>
  </div>
  <div [ngClass]="{'col-1': true}">
    <span class="pi pi-question-circle" [pTooltip]="filterModel.filterDto.help_text"></span>
  </div>
</div>
<p-dialog styleClass="networkDialog" header="Select network(s)" position="top" [(visible)]="networkSelectorVisible">
  <div class="pb-3" style="max-width: 350px">
    Click on a continent to unfold its list of networks.<br/>
    You can find more information about the ISMN networks on the <a href="https://ismn.earth/en/networks/"
                                                                    target="_blank">ISMN networks list</a>.
  </div>
  <p-tree [value]="networkTree" selectionMode="checkbox"
          (onNodeSelect)="onNetworkSelect($event)"
          (onNodeUnselect)="onNetworkUnselect($event)"
          [(selection)]="selectedNetworks"></p-tree>
</p-dialog>
