//this one will have to be moved to the global styles, but first tests are needed
.center{
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
  text-align: center;
}

button{
  width: 13rem;
  font-size: 1.2rem;
}

.alert{
  margin-bottom: 2rem;
  background-color: #FF6C5C26;
  color: #FF6C5C;
  width: 18rem;
  border: #FF6C5C30 solid 1px;
  border-radius: 3px;
  padding: 0.5rem;
  text-align: left;
}
