<div class="p-grid">
  <div class="p-col-12 p-sm-6 p-pb-0">
    <div class="p-grid" id="fromAnomField">
      <div class="small-label p-col-4">
        <div class="p-fluid">
          <div>From</div>
        </div>
      </div>
      <div class="p-col-7 p-px-0 p-mx-0">
        <div class="p-fluid">
          <div class="p-float-label">
            <div class="p-float-label">
              <p-inputNumber
                id="yearFrom"
                [useGrouping]="false"
                [showButtons]="true"
                [maxFractionDigits]="0"
                [ngModel]="getYearFrom()"
                (ngModelChange)="anomaliesModel.anomaliesFrom$.next(setDate($event))"
                [step]="1"
                [min]="minYear"
                [max]="maxYear">
              </p-inputNumber>
              <label for="yearFrom">Choose year</label>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="p-col-12 p-sm-6 p-pb-0">
    <div class="p-grid" id="toAnomField">
      <div class="small-label p-col-4">
        <div class="p-fluid">
          <div>To</div>
        </div>
      </div>
      <div class="p-col-7 p-px-0 p-mx-0">
        <div class="p-fluid">
          <div class="p-float-label">
            <p-inputNumber
              id="yearTo"
              [useGrouping]="false"
              [showButtons]="true"
              [maxFractionDigits]="0"
              [ngModel]="getYearTo()"
              (ngModelChange)="anomaliesModel.anomaliesTo$.next(setDate($event))"
              [step]="1"
              [min]="minYear"
              [max]="maxYear">
            </p-inputNumber>
            <label for="yearTo">Choose year</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
