<div class="p-grid">
  <div class="p-col-12 p-sm-6 p-pb-0">
    <div class="p-grid" id="fromAnomField">
      <div class="small-label p-col-4">
        <div class="p-fluid">
          <div>From</div>
        </div>
      </div>
      <div class="p-col-7 p-px-0 p-mx-0">
        <div class="p-fluid">
          <div class="p-float-label">
            <p-calendar id="fromDateInput" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true"
                        yearRange="1970:2100" [ngModel]="anomaliesModel.anomaliesFrom$|async"
                        (ngModelChange)="anomaliesModel.anomaliesFrom$.next($event)"
                        [maxDate]="anomaliesModel.anomaliesTo$|async"
            ></p-calendar>
            <label for="fromDateInput">Choose a date</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="p-col-12 p-sm-6 p-pb-0">
    <div class="p-grid" id="toAnomField">
      <div class="small-label p-col-4">
        <div class="p-fluid">
          <div>To</div>
        </div>
      </div>
      <div class="p-col-7 p-px-0 p-mx-0">
        <div class="p-fluid">
          <div class="p-float-label">
            <p-calendar id="toDateInput" dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true"
                        yearRange="1970:2100"
                        [ngModel]="anomaliesModel.anomaliesTo$|async"
                        (ngModelChange)="anomaliesModel.anomaliesTo$.next($event)"
                        [minDate]="anomaliesModel.anomaliesFrom$|async"
            ></p-calendar>
            <label for="toDateInput">Choose a date</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
