@use 'src/style.variables' as *;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem;
  margin-top: 1rem;
  background-color: transparent;
  border-top: 1px solid $base-color;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

