<div class="flex flex-row flex-wrap align-items-center justify-content-center footer"
     [ngClass]="{'footer-dark': currentRoute.includes('/home')}">
  <div class="flex flex-row flex-wrap lg:gap-6 gap-5 align-items-center justify-content-center lg:text-base md:text-sm text-xs">
    <div class="flex w-1">
      <a [routerLink]="'home'">
        Home
      </a>
    </div>
    <div class="flex w-1">
      <a [routerLink]="'help'">
        Help
      </a>
    </div>
    <div class="flex w-1">
      <a [routerLink]="'terms'">
        Terms
      </a>
    </div>
    <div class="flex w-1">
      <a [routerLink]="'contact-us'">
        Contact
      </a>
    </div>
  </div>
</div>
