@import "../../../../../style.variables";

.footer {
  background: transparent;
  height: 2rem;
}

a {
  color: $main-page-color-3;
  text-decoration: none;
}

.footer-dark {
  background: rgba(0, 0, 0, 0.45);
}
.footer-dark a{
  color: rgba(255, 255, 255, 1.1);
}

.footer-dark a:hover{
  color: $highlight-border;
}

