@import "../../../../../style.variables.scss";

.att_val_container{
  background-color: white;
  color: black;
  padding: 0.3em 0.3em 0.3em 0.3em;
  border-bottom: #dddddd solid 1px;
  margin: 0;
}

.logbutton {
  background-color: $base-color !important;
  transition: background-color 0.3s ease, border 0.3s ease;
  border: 1px solid $base-color;

  &:hover {
    background-color: darken($base-color, 10%) !important;
    border-color: darken($base-color, 10%);
  }

  &:active {
    border: none !important;
  }
}

.small-edit-icon{
  font-size: 0.8rem;
  line-height: 1rem;
}

.edit_dataset {
  border: 1px solid #dddddd;
  border-radius: 4px;
  position: relative;
  padding: 3px;
  height: 2rem;
  font-size: 1rem;
}

.no-validation-box{
  color: darkgray;
  height: 70%;
  display: flex;
  align-items:center;
  justify-content: center;
}
.warning {
  color: $pronouced-button-color;
}
.expiry-icons{
  cursor: auto;
  font-size: 1.5rem;
  padding: 5px;
}

.no-dataset-info{
  font-size: 1rem;
  color: darkgray;
  display: flex;
  align-items:center;
  justify-content: center;
  text-align: center;
}

