@import "src/styles";
.att_val_container{
  background-color: white;
  color: black;
  padding: 0.3em 0.3em 0.3em 0.3em;
  border-bottom: #dddddd solid 1px;
  margin: 0;
}

.small-edit-icon{
  font-size: 0.8rem;
  line-height: 1rem;
}

.edit_dataset {
  border: 1px solid #dddddd;
  border-radius: 4px;
  position: relative;
  padding: 3px;
  height: 2rem;
  font-size: 1rem;
}

#no-validation-box{
  color: lightgray;
  height: 70%;
  display: flex;
  align-items:center;
}
