.att_val_container{
  background-color: white;
  color: black;
  padding: 0.3em 0.3em 0.3em 0.3em;
  border-bottom: #dddddd solid 1px;
  margin: 0;
}

.small-edit-icon{
  font-size: 0.8rem;
  line-height: 1rem;
}

.edit_dataset {
  border: 1px solid #dddddd;
  border-radius: 4px;
  position: relative;
  padding: 3px;
  height: 2rem;
  font-size: 1rem;
}

.no-validation-box{
  color: darkgray;
  height: 70%;
  display: flex;
  align-items:center;
  justify-content: center;
}
.warning {
  color: red;
}
.expiry-icons{
  cursor: auto;
  font-size: 1.5rem;
  padding: 5px;
}

.no-dataset-info{
  font-size: 1rem;
  color: darkgray;
  display: flex;
  align-items:center;
  justify-content: center;
  text-align: center;
}

