{% extends 'auth/login_base.html' %}
{% load widget_tweaks %}

{% block content %}
<form class="form-signin" method="post" action="{% url 'login' %}?next={{next}}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    {% with WIDGET_ERROR_CLASS='is-invalid' %}

        <label for="{{ form.username.auto_id }}" class="sr-only">{{ form.username.label }}</label>
        {% render_field form.username class="form-control form-signin-user" placeholder=form.username.label %}

        <label for="{{ form.password.auto_id }}" class="sr-only">{{ form.password.label }}</label>
        {% render_field form.password class="form-control form-signin-password" placeholder=form.password.label %}

        {% if form.errors %}
            <p class="alert alert-danger small-padding">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        {{ error }}
                    {% endfor %}
                {% endfor %}
            </p>
        {% endif %}

    {% endwith %}

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    <div class="mt-3"><a href="{% url 'password_reset' %}" class="mt-5">Forgotten your password?</a></div>
</form>
{% endblock %}
