{% extends 'auth/login_base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block additional_styles %}
    <link href="{% static 'css/solid.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontawesome.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div style="max-width: 40rem; margin: auto;">
    <h1 class="h3 mb-3 font-weight-normal">Password reset sent</h1>

    <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

    <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
</div>

{% endblock %}
