{% extends 'auth/login_base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block additional_styles %}
    <link href="{% static 'css/solid.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontawesome.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div style="max-width: 40rem; margin: auto;">
    <h1 class="h3 mb-3 font-weight-normal">Password reset complete</h1>

    <p>Your password has been set. You can log in now with the link below.</p>

    <p><a href="{% url 'login' %}">Log in</a></p>
</div>

{% endblock %}
