{% extends 'auth/login_base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block additional_styles %}
    <link href="{% static 'css/solid.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontawesome.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<form class="form-signin" method="post">
    {% csrf_token %}

    <h1 class="h3 mb-3 font-weight-normal">Password reset</h1>
    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

    {% with WIDGET_ERROR_CLASS='is-invalid' %}
        <label for="{{ form.email.auto_id }}" class="sr-only">Email address</label>
        <div class="input-group mb-3">
            {% render_field form.email class="form-control" title="The email address you registered your account with." placeholder=form.email.label %}
            <div class="input-group-append">
                <span class="input-group-text fas fa-question-circle" id="basic-addon2" title="The email address you registered your account with."></span>
            </div>
        </div>
        {% if form.email.errors %}
            <p class="alert alert-danger small-padding">
            {% for error in form.email.errors %}
                {{ error }}
            {% endfor %}
            </p>
        {% endif %}

        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Reset my password">

    {% endwith %}
</form>
{% endblock %}
