{% extends 'auth/login_base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block additional_styles %}
    <link href="{% static 'css/solid.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontawesome.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% if validlink %}
    <form class="form-signin" method="post">
        {% csrf_token %}

        <h1 class="h3 mb-3 font-weight-normal">Password reset</h1>
        <p>Please enter your new password twice to verify you typed it in correctly.</p>

        {% with WIDGET_ERROR_CLASS='is-invalid' %}

            <label for="{{ form.new_password1.auto_id }}" class="sr-only">New password</label>
            <div class="input-group mb-3">
                {% render_field form.new_password1 class="form-control" title="Your new password." placeholder=form.new_password1.label %}
                <div class="input-group-append">
                    <span class="input-group-text fas fa-question-circle" id="basic-addon2" title="Your new password."></span>
                </div>
            </div>
            {% if form.new_password1.errors %}
                <p class="alert alert-danger small-padding">
                {% for error in form.new_password1.errors %}
                    {{ error }}
                {% endfor %}
                </p>
            {% endif %}

            <label for="{{ form.new_password2.auto_id }}" class="sr-only">Confirm password</label>
            <div class="input-group mb-3">
                {% render_field form.new_password2 class="form-control" title="Re-type your new password." placeholder=form.new_password2.label %}
                <div class="input-group-append">
                    <span class="input-group-text fas fa-question-circle" id="basic-addon2" title="Re-type your new password."></span>
                </div>
            </div>
            {% if form.new_password2.errors %}
                <p class="alert alert-danger small-padding">
                {% for error in form.new_password2.errors %}
                    {{ error }}
                {% endfor %}
                </p>
            {% endif %}

            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Change my password">
        {% endwith %}
    </form>
{% else %}
    <div style="max-width: 40rem; margin: auto;">
        <h1 class="h3 mb-3 font-weight-normal">Invalid link</h1>
        <p>
            The password reset link was invalid, possibly because it has already been used.<br/>
            <a href="{% url 'password_reset' %}">Please request a new password reset.</a>
        </p>
    </div>
{% endif %}

{% endblock %}
