<div class="center" style="max-width: 100%">
  <div class="grid">
    <div class="col" style="max-width: 15rem">
      <form [formGroup]="loginForm" class="text-center" (ngSubmit)="onSubmit()">

        <div class="p-fluid">
          <span class="p-float-label mb-5 mt-4">
            <input pInputText id="usernameInput" type="text" formControlName="username">
            <label for="usernameInput">Username</label>
          </span>
        </div>


        <div class="p-fluid">
          <span class="p-float-label mb-5">
          <input pPassword type="password"
                 formControlName="password" [feedback]="false" id="passwordInput">
          <label for="passwordInput">Password</label>
        </span>
        </div>

        <button pButton
                type="submit"
                label="Sign in">
        </button>

        <div class="mt-3"><a [routerLink]="'/password-reset'" class="mt-5">Forgot your password?</a></div>
        <div class="mt-3"><a [routerLink]="'/signup'" class="mt-5">No account?</a></div>
      </form>
    </div>
  </div>
</div>


