//this one will have to be moved to the global styles, but first tests are needed
.center{
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
  text-align: center;
}

button{
  width: 12rem;
  font-size: 1.2rem;
}

a {
  font-weight: 600;
}
