<div class="flex flex-row gap-0">
  <div class="w-auto flex flex-row justify-content-center">
    <p-checkbox id="intraAnnualMetricsSelector"
                [ngModel]="selectedMetric().intra_annual_metrics"
                (ngModelChange)="toggleMetricSelection($event)"
                [disabled]="disabled"
                binary="true"/>
    <label class="pl-2" for="intraAnnualMetricsSelector">Include Intra-Annual metrics</label>
  </div>
  <div class="w-1">
    <label class="p-panel-header-icon"
           pTooltip="To assess the intra-annual variation in product performance (e.g., summer versus winter), metrics are calculated separately for each month or season (including data from the respective month/season of all years) instead of for the entire time series (bulk case)"
           tooltipPosition="bottom">
      <span class="pi pi-question-circle ml-2"></span>
    </label>
  </div>
</div>

<div *ngIf="selectedMetric().intra_annual_metrics">
  <div class="p-fluid grid pt-3">

  <div class="col-12 lg:col-6">
    <div class="grid align-items-center">
      <div class="col-5 label-cell text-center">
        <div style="margin-top:-1.5rem;"><b>Frequency:</b></div>
      </div>
      <div class="col-5">
        <span class="p-float-label">
          <p-select id="intraAnnualMetricTypeSelector"
                    [options]="intraAnnualMetricTypes"
                    [ngModel]="selectedMetric().intra_annual_type"
                    (ngModelChange)="updateType($event)">
          </p-select>
          <label for="intraAnnualMetricTypeSelector">Select</label>
        </span>
      </div>
      <div class="col-2">
        <label class="p-panel-header-icon"
               pTooltip="The set of temporal sub-windows over which all metrics are calculated:&#10;&#10;&#8226; 'Seasonal': the four meteorological seasons.&#10;&#10;&#8226; 'Monthly': the twelve months.&#10;&#10;Note: Per default, the bulk case (metrics calculated over the entire time series) is always included.&#10;Refer to the manual for the exact definitions."
               tooltipPosition="bottom">
          <span class="pi pi-question-circle ml-2"></span>
        </label>
      </div>
    </div>
  </div>

  <div class="col-12 lg:col-6">
    <div class="grid align-items-center">
      <div class="col-5 label-cell text-center">
        <div style="margin-top:-1.5rem;"><b>Overlap:</b></div>
      </div>
      <div class="col-5">
        <span class="p-float-label">
          <p-inputNumber
              class="w-full"
              inputStyleClass="w-full"
              id="overlapSelector"
              [showButtons]="true"
              [maxFractionDigits]="0"
              [suffix]="selectedMetric().intra_annual_overlap === 1 ? ' day' : ' days'"
              [ngModel]="selectedMetric().intra_annual_overlap"
              (ngModelChange)="setOverlap($event)"
              [step]="1"
              [min]="0"
              [max]="maxIntraAnnualOverlap()">
          </p-inputNumber>
          <label for="overlapSelector">Select overlap</label>
        </span>
      </div>
      <div class="col-2">
        <label class="p-panel-header-icon"
               pTooltip="Extends each temporal sub-window on either side by the specified number of days, i.e. the overlap is symmetric. May be used to increase the sample size, but may introduce correlations between adjacent windows as they will overlap."
               tooltipPosition="bottom">
          <span class="pi pi-question-circle ml-2"></span>
        </label>
      </div>
    </div>
  </div>
  
</div>
</div>
