@import "src/style.variables";
.navbar {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(200, 200, 200, 0.5), rgba(255, 255, 255, 0.9));
  z-index: 100;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #F0F4F5;
}
.navbar-fixed{
  //position: fixed;
  //top: 0;
}
a {
  color: black;
}
//.ui-menubar{
//  background-color: $base-color !important;
//}
//.navbar-brand {
//  color: #ffffff;
//}
//
//.navbar-brand:hover {
//  color: #ffffff;
//  text-decoration: underline;
//}
//
//.nav-link {
//  color: #FFDB5C;
//}
//
//.nav-link:focus, .nav-link:hover {
//  color: #F8C100;
//}
//
//.navbar-btn {
//  color: #FFDB5C;
//  border-color: #FFDB5C;
//}
//
//.navbar-toggler-icon {
//  display: inline-block;
//  width: 1.5em;
//  height: 1.5em;
//  vertical-align: middle;
//  content: "";
//  background: no-repeat center center;
//  background-size: 100% 100%;
//  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28 255.0, 219.0, 92.0 %29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
//}
//
//.navbar-btn:hover, .navbar-btn:not(:disabled):not(.disabled):active {
//  color: #fff;
//  background-color: #F8C100;
//  border-color: #FFDB5C;
//}
//
//.navbar-btn-active {
//  color: #fff;
//  background-color: #F8C100;
//}
//
//.navbar-btn:focus, .navbar-btn:not(:disabled):not(.disabled):active:focus {
//  box-shadow: 0 0 0 .2rem rgba(248, 193, 0, .5);
//}
//
//.show > .btn-outline-primary.dropdown-toggle {
//  background-color: inherit;
//  color: #FFDB5C;
//  border-color: #FFDB5C;
//}
//
//.show > .btn-outline-primary.dropdown-toggle:focus {
//  box-shadow: 0 0 0 .2rem rgba(248, 193, 0, .5);
//}
//
//.dropdown-item.navbar-btn-active {
//  color: initial;
//}
//
//.dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover {
//  background-color: rgba(248, 193, 0, .5);
//}
