.project
.pydevproject
.settings/
.idea
Thumbs.db
__pycache__
.pytest_cache/
.coverage
coverage.xml
db.sqlite3
*.log
valentina/settings_conf.py
output
junit.xml
emails
/static/
run_celery/
.coverage*
*/python_metadata/*
node_modules
UI/.angular
