[submodule "testdata"]
	path = testdata
	url = https://github.com/awst-austria/qa4sm-testdata.git
	branch = master
[submodule "validator/fixtures"]
	path = validator/fixtures
	url = https://github.com/awst-austria/qa4sm-fixtures.git
	branch = main
