numpy
scipy
pandas
netCDF4
cython
pytest
matplotlib
pyproj
django>=2.1
pyresample
pynetcf
coverage
pygeogrids
pytest-django
django-widget-tweaks
psycopg2-binary
pytest-cov
pytest-mpl
celery==4.1.1
celery[redis]
gldas>=0.5
smap-io>=0.3
django-countries
c3s-sm>=0.1.1
ascat>=1.0
cartopy
ismn>=0.3
seaborn
