@import "src/style.variables";

* {
  font-family: $base-font;
  line-height: 1.5rem;
}
//main{
//  max-width: 100%;
//  min-width: 100%;
//}

div#wrapper {
  display: block;
  height: 100%;
  //width: 100vw;
}

div#landing{
  //width: 100vw;
  height: 100vh;
  background: url("../../../../../validator/static/images/home/smos_full.jpg") center center;
  background-size: cover;
}

//
//.scaled_image {
//  display: block;
//  //max-width: 100%;
//  //width: 100%;
//  //height: 100%;
//  margin-left: auto;
//  margin-right: auto;
//}
//
//.carousel-wrapper {
//  width: 100vw;
//  height: 100vh;
//}
//
//.carousel {
//  //background-color: red;
//  //height: 100vh;
//  //z-index: 0;
//  //margin-bottom: 0.5rem;
//  //position: relative;
//}
//.carousel img{
//  object-fit: cover;
//}
//
//.carousel-img > img {
//  margin: 0 auto;
//}
//
//.carousel-img {
//  min-width: 100%;
//  min-height: 100%;
//  margin-bottom: 0.5rem;
//  width: 1900px;
//  height: 400px;
//  max-width: 100%;
//  max-height: 100%;
//}
//
//.carousel-caption {
//  position: absolute;
//  transform: translate(0, -30%);
//  display: inline-block;
//  padding-top: 20px;
//  padding-bottom: 20px;
//  color: #fff;
//  vertical-align: middle;
//  right: 15%;
//  bottom: 20px;
//  left: 15%;
//  z-index: 10;
//  text-align: center;
//}
//
//.carousel-desc {
//  text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .5);
//  z-index: 1;
//}
//
//span.carousel-desc {
//  line-height: 3rem;
//}
//
//.carousel-indicators {
//  z-index: 1;
//}
//
//
//.image-attribution {
//  color: white;
//  text-shadow: 0 0 .1rem black, 0 0 .5rem black;
//  position: relative;
//  bottom: 30px;
//  z-index: 200;
//  margin-left: 0.5rem;
//  width: 10%;
//}
//
//
//.textbox > h3 {
//  font-size: min(max(20px, 1.5vw), 30px);
//}
//
//.textbox > h1 {
//  text-shadow: .15rem .15rem .15rem rgba(0, 0, 0, .5);
//  font-size: min(max(30px, 3vw), 40px);
//}
//
//.image-attribution > a {
//  color: #ffffff;
//}
//
//.overflow {
//  overflow: auto;
//  /* Top right text */
//  z-index: 10;
//  background-color: white;
//}
//
//.overflow img {
//  padding: 0.40rem;
//  float: right;
//  max-height: 60px;
//  max-width: 30%;
//}
//
///* Centered text */
//.centered {
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%, -50%);
//  z-index: 2;
//  text-align: center;
//  color: white;
//}
//
//#workflow {
//  padding-top: 30px;
//  cursor: pointer;
//  transition: 0.3s;
//}
//
//#workflow:hover {
//  opacity: 0.7;
//}
//
//.container-marketing {
//  max-width: 80rem;
//  margin: auto;
//}
//
//.featurette-divider {
//  max-width: 80rem;
//}
//
//.textbox {
//  background: rgba(0, 0, 0, 0.5);
//  align-self: center;
//  padding: 10px;
//  display: inline-block;
//}
//
//.lead {
//  text-align: justify;
//}
//
///* Style the Image Used to Trigger the Modal */
//.img-screen {
//  max-width: 90%;
//  border-radius: 5px;
//  cursor: pointer;
//  transition: 0.3s;
//}
//
////.img-screen:hover {
////  opacity: 0.7;
////}
//
//.container-marketing {
//  max-width: 80rem;
//  margin: auto;
//}
//
//.news {
//  background-color: #CEEBF6;
//}
//
//.list li::before, .news li::before {
//  font-weight: 900;
//  content: "\203A";
//  float: left;
//  margin-left: -1em;
//  text-align: center;
//}
//
//.list li, .news li {
//  display: block;
//}
//
///* 100% Image Width on Smaller Screens */
//@media only screen and (max-width: 575.9px) {
//  .textbox > h3 {
//    display: none;
//  }
//  .textbox > h1 {
//    font-size: min(max(30px, 3vw), 40px);
//  }
//  span.carousel-desc{
//    display: none;
//  }
//  //.btn-action-home{
//  //  margin-bottom: 0.1rem;
//  //}
//}
//
//@media screen and (min-width: 576px) and (max-width: 712px){
//  span.carousel-desc{
//    display: none;
//  }
//  //
//  //.btn-action-home{
//  //  width: 7.5rem;
//  //}
//}
////
////.logo{
////  //min-width: 10%;
////  //min-height: 10%;
////  margin-bottom: 0.5rem;
////  width: 20%;
////  height: 60px;
////  //max-width: 20%;
////  //max-height: 10%;
////}
