<div id="background"></div>
<div id="wrapper">
  <div id="landing">
    <div id="title-box">
      <h1 class="page-title">
        <span style="color:#FFAC04">QA4SM </span> -
        Quality Assurance Service <br>
        for Satellite Soil Moisture Data
      </h1>
      <div id="action-buttons">
        <div *ngIf="userLoggedIn else elseBlock">
          <p>
            <a pButton
               label="See results"
               routerLink="/published-validations"
               class="btn-action-home"
               role="button">
            </a>
            <a pButton
               label="Try it"
               routerLink="/validate"
               class="btn-action-home"
               role="button">
            </a>
          </p>
        </div>
        <ng-template #elseBlock>
          <p>
            <a pButton
               label="See results"
               routerLink="/published-validations"
               class="btn-action-home"
               role="button">
            </a>
            <a pButton
               label="Sign up"
               routerLink="/signup"
               class="btn-action-home"
               role="button">
            </a>
            <a pButton
               label="Log in"
               routerLink="/login"
               class="btn-action-home"
               role="button">
            </a>
          </p>
        </ng-template>

      </div>

    </div>
    <div id="scroll-down">
      <p-button
        icon="pi pi-chevron-down"
        (onClick)="goToNews()"
        class="btn-scroll-down">
      </p-button>
      <!--      <span class="pi pi-chevron-down" style="color:white"></span>-->
    </div>

  </div>
  <div id="about-app">
    <div *ngIf="settings$|async as settings" id="qa4sm-news"
         [ngClass]="newsSectionClass.main">
      <h3 [ngClass]="newsSectionClass.h3">What's new</h3>
      <div  [innerHTML]=settings[0].news [ngClass]="newsSectionClass.div"></div>
    </div>
    <div [ngClass]="verticalLineClass.main">
      <div class="vertical-line"></div>
    </div>
    <div [ngClass]="applicationDescriptionClass">
      <!--      Application introduction-->
      <div [ngClass]="applicationIntroClass.main">
        <h1 [ngClass]="applicationIntroClass.h1"> Service for validation of satellite soil moisture products against in-situ and model reference data </h1>
        <span [ngClass]="applicationIntroClass.span">
          that <span class="text-highlighted">brings together methodologies and protocols </span> used for the validation
          and quality control of soil moisture data products and provides users with
          <span class="text-highlighted">traceable validation results</span>.
        </span>
      </div>
      <!-- Application videos -->
      <div [ngClass]="videosClass.main">
        <p-carousel [value]="videos"
                    [circular]="true"
                    [numVisible]="1"
                    [numScroll]="1"
                    [showIndicators]="false"
                    [showNavigators]="true">
          <ng-template let-video pTemplate="item">
            <div [ngClass]="videosClass.mainDiv">
              <div [ngClass]="videosClass.rowDiv">
                <h4 [ngClass]="videosClass.h4">{{video.title}}</h4>
              </div>
              <div [ngClass]="videosClass.rowDiv">
                <video width="85%" class="mb-3" controls allowfullscreen>
                  <source [src]="video.video">
                </video>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
      <!--    Application information -->
      <div [class]="applicationInfoClass.main">
        <!--      ROW =========================================================  -->
        <div [class]="applicationInfoClass.oddRow">
          <div [class]="applicationInfoClass.tile">
            <h1 [ngClass]="applicationInfoClass.h1">Simple</h1>
            <div [ngClass]="applicationInfoClass.div">
              An easy-to-use interface for comparing satellite soil moisture data against land surface models and the
              <a href="https://ismn.earth/" target="_blank">International Soil Moisture Network</a>
            </div>
          </div>
          <div [class]="applicationInfoClass.tile">
            <h1 [ngClass]="applicationInfoClass.h1">Traceable</h1>
            <div [ngClass]="applicationInfoClass.div">
              You can download your results in netCDF format and as visualisations, share them with others or publish
              using <a target="_blank" href="https://zenodo.org/" rel="noreferrer">Zenodo</a> service
            </div>
          </div>
          <!--      ROW ========================================================= -->
        </div>
        <div [class]="applicationInfoClass.evenRow">
          <div [class]="applicationInfoClass.tile">
            <h1 [ngClass]="applicationInfoClass.h1">Free</h1>
            <div [ngClass]="applicationInfoClass.div">
              Just set up and account to have full access to all functionalities
            </div>
          </div>
          <div [class]="applicationInfoClass.tile">
            <h1 [ngClass]="applicationInfoClass.h1">Customizable</h1>
            <div [ngClass]="applicationInfoClass.div">
              You can upload your own data and use various filtering and scaling options to assess the impact of these
              on
              the validation results
            </div>
          </div>
        </div>
      </div>

      <div [ngClass]="applicationTeamClass.main">
        <h1 [ngClass]="applicationTeamClass.h1"> Project Team and Partners </h1>
        <!--        FFG -->
        <div [ngClass]="applicationTeamClass.partner">
          <div [ngClass]="applicationTeamClass.partnerDesc">
            The <b>QA4SM</b> project provides an operational online validation service for soil moisture products. It
            started
            in May 2018 and was supported by the <a href="https://www.ffg.at/en" target="_blank">Austrian Research
            Promotion Agency</a> (Österreichische Forschungsförderungsgesellschaft, FFG) in the
            <a href="https://www.ffg.at/en/program/austrian-space-applications-programme-0" target="_blank">Austrian
              Space
              Application
              Programme</a>.
          </div>

          <div [ngClass]="applicationTeamClass.partnerLogo">
            <a href="https://www.ffg.at/en" rel="noreferrer" target="_blank">
              <img alt="FFG logo" id="logo_ffg" [src]="logoFiles[3].plot"></a>
          </div>
        </div>

        <!--        ESA -->
        <div [ngClass]="applicationTeamClass.partner">
          <div [ngClass]="applicationTeamClass.partnerDesc">
            From 2021 on, <b>QA4SM</b> is further evolved within the <a href="https://project-frm4sm.geo.tuwien.ac.at/"
                                                                        target="_blank">FRM4SM</a> project, supported by
            the <a
            href="https://www.esa.int/" target="_blank">European Space Agency</a>.
          </div>
          <div [ngClass]="applicationTeamClass.partnerLogo">
            <a href="https://www.esa.int/" target="_blank">
              <img alt="ESA logo" id="logo_esa" [src]="logoFiles[2].plot">
            </a>
          </div>
        </div>
        <!--        CESBIO -->
        <div [ngClass]="applicationTeamClass.partner"
             style="margin-top: -1.5vw">
          <div [ngClass]="applicationTeamClass.partnerDesc">
            Within the <b>FRM4SM</b> project, <b>QA4SM</b> has been scientifically developed in cooperation with
            <a href="https://www.cesbio.cnrs.fr/homepage/">CESBIO</a>
          </div>
          <div [ngClass]="applicationTeamClass.partnerLogo">
            <a href="https://www.cesbio.cnrs.fr/homepage/" target="_blank">
              <img alt="CESBIO logo" id="logo_cesbio" [src]="logoFiles[4].plot">
            </a>
          </div>
        </div>


        <div class="horizontal-line my-2"></div>
        <!--        TU -->
        <div [ngClass]="applicationTeamClass.team">
          <div [ngClass]="applicationTeamClass.teamLogo">
            <a href="https://climers.geo.tuwien.ac.at/climers/" target="_blank">
              <img alt="TU logo" id="logo_tu" [src]="logoFiles[1].plot">
            </a>
          </div>
          <div [ngClass]="applicationTeamClass.teamDesc">
            <b>TU Wien (Vienna University of Technology)</b><br>
            Department of Geodesy and Geoinformation<br>
            Research Group Climate and Environmental Remote Sensing (CLIMERS)<br>
            <b>Website: </b> <a href="https://www.tuwien.at/en/mg/geo/climers" target="_blank">
            CLIMERS</a><br>
            <b>Contact:</b> Wouter Dorigo (wouter.dorigo (at) tuwien.ac.at)<br>
            <b>Tasks:</b> Scientific lead and research, dataset support
          </div>
        </div>


        <!--      AWST-->
        <div [ngClass]="applicationTeamClass.team">
          <div [ngClass]="applicationTeamClass.teamLogo">
            <a href="https://www.awst.at/" target="_blank">
              <img alt="AWST logo" id="logo_awst" [src]="logoFiles[0].plot">
            </a>
          </div>
          <div [ngClass]="applicationTeamClass.teamDesc">
            <b>AWST (Applied Science, Software and Technology)</b><br>
            <b>Website:</b> <a href="https://www.awst.at" target="_blank"> AWST</a><br>
            <b>Contact: </b> Alexander Boresch (boresch (at) awst.at)<br>
            <b>Tasks: </b> Project management, technical lead, webservice development and operations
          </div>
        </div>
      </div>


    </div>

    <div [ngClass]="verticalLineClass.main">
      <div class="vertical-line"></div>
    </div>
    <div *ngIf="settings$|async as settings" id="qa4sm-opinion"
         [ngClass]="opinionSectionClass.main">
      <h3 [ngClass]="opinionSectionClass.h3">Share with us your opinion</h3>
      <div [ngClass]="opinionSectionClass.div">
        If you think we could improve something or you see a missing functionality, please let us know using
        this <b> <a target="_blank" [href]="settings[0].feed_link">feedback form</a> </b>.
      </div>
    </div>
  </div>
  <!--    <div>-->
  <!--      Created by <a href="https://www.geo.tuwien.ac.at/" target="_blank">TU Wien GEO</a>-->
  <!--      and <a href="https://www.awst.at/" target="_blank">AWST</a>.-->
  <!--    </div>-->
  <!--  </footer>-->


  <p-scrollTop styleClass="scroll-button"></p-scrollTop>
  <div class="background-link lg:text-base md:text-sm text-xs">
    <a href="https://www.esa.int/ESA_Multimedia/Images/2017/11/FSSCat"
       target="_blank">
      Image: ESA
    </a>
  </div>

</div>
