@import "../../../style.variables";
$home-page-link-color: #CF8400;

* {
  font-family: $base-font;
  line-height: 1.5vw;
  scroll-behavior: smooth;
}

div#background {
  display: block;
  background: url("../../../../../validator/static/images/home/FSSCat.webp") center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* To ensure it's behind the content */
}

div#wrapper {
  display: block;
  height: 100%;
}

div#landing {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)) center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center;
}

div#title-box {
  color: white;
  display: inline-block;
  vertical-align: middle;
  z-index: 10;
  text-align: center;
}

.page-title {
  text-align: center;
  text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .5);
  z-index: 1;
  line-height: 1.1;
}

span.carousel-desc {
  line-height: 3rem;
}

div#scroll-down {
  width: 50px;
  height: 50px;
  animation: moveDown 4s ease-in-out infinite;
}

/* Define the animation */
@keyframes moveDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}

div#about-app {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
  transition: filter .5s ease, opacity 1s ease;
}

@keyframes shimmer {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.app-news {
  width: 40%;
  border-radius: 5px;
  color: white;
  padding: 2vw;
  background-color: rgba(0, 76, 89, 0.6);
  border: 2px solid white;
}

.application-desc {
  width: 60%;
  border: 2px solid $main-page-color-3;
  border-radius: 5px;
  background-color: rgba(210, 210, 210, 0.8);
  opacity: 90%;
}

.application-project {
  border: 2px solid lightgray;
  border-radius: 5px;
}

.application-intro, .application-team {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  width: 100%;
  background-color: transparent;
  color: $main-page-color-3;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  border-radius: 5px;
  padding: 1% 0 1%;
}

.application-intro h1, .application-team h1 {
  text-align: center;
  line-height: 1.1;
  width: 85%;
  margin-bottom: 2vw;
}

.application-intro span {
  width: 70%;
  line-height: 1.2;
  text-align: center;
}

.application-team .partner-desc {
  line-height: 1.2;
  text-align: center;
}

.application-team  .team-desc{
  line-height: 1.2;
}


.application-info {
  width: 100%;
  height: auto;
}

.application-tile {
  padding: 1vw;
  aspect-ratio: 1 / 0.9;
  opacity: 1;
}

.application-info .application-tile:nth-child(even) {
  background-color: $main-page-color-1;
}

.application-info .application-tile:nth-child(odd) {
  background-color: $main-page-color-2;
}

.application-tile h1 {
  //font-size: 2.75vw;
  line-height: 1.2;
  padding: 2vw;
  text-align: center;
}

.application-tile div {
  font-size: 1.5vw;
  line-height: 1.2;
  padding: 2vw;
  text-align: center;
}

.application-tile div.image-card {
  padding: 2vw;
  width: 75%;
}

.application-tile a, .application-team a, .app-news a{
  color: $home-page-link-color;
  text-decoration: none;
}

.application-tile a:hover, .application-team a:hover, .app-news a:hover{
  color: $menu-item-focus-color;
}

//
.application-info .application-row:first-child .application-tile:first-child {
  border-top-left-radius: 5px;
}

.application-info .application-row:first-child .application-tile:last-child {
  border-top-right-radius: 5px;
}

.application-info .application-row:last-child .application-tile:last-child {
  border-bottom-left-radius: 5px;
}

.application-info .application-row:last-child .application-tile:first-child {
  border-bottom-right-radius: 5px;
}

.vertical-line {
  height: 100%;
  width: 2px;
  background-color: white;
}

.horizontal-line {
  width: 85%;
  height: 2px;
  background-color: $main-page-color-1;
}

.partner-logo a{
  width: 100%;
  height: 100%;
}
.background-link{
  position: fixed;
  bottom: 2%;
  left: 2% ;
}

.background-link a{
  color: $menu-item-color;
  text-decoration: none;
  font-size: 1rem;
}

.text-highlighted{
  color: white;
}

@media screen and (max-width: 1385px) {
  .application-desc {
    width: 83.3333%;
  }
  .app-news {
    width: 60%;
  }
  .background-link{
    width: 2rem;
    line-height: 1.5;
    left: 0.5%;
  }
}
