{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block additional_styles %}
    {% endblock %}

    <link href="{% static 'css/solid.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontawesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/scheme.css' %}" rel="stylesheet">
    <link href="{% static 'css/service.css' %}" rel="stylesheet">
    <title>QA4SM Validation Service</title>
</head>

<body>

    <nav class="navbar navbar-expand-md mb-3 border-bottom shadow-sm py-md-3">

        <a class="navbar-brand mr-0 mr-md-2" href="{% url 'home' %}" aria-label="QA4SM">QA4SM Validation Service</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">

                {% url 'validation' as validation_url %}
                {% url 'myruns' as my_validations_url %}
                {% url 'published_results' as published_url %}
                {% url 'datasets' as datasets_url %}
                {% url 'about' as about_url %}
                {% url 'terms' as terms_url %}
                {% url 'help' as help_url %}
                {% url 'user_profile' as user_profile_url %}

                <li class="nav-item mx-md-3 mb-1 mb-md-0">
                    <div class="dropdown show">
                        <a class="navbar-btn btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Menu</a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item {% if request.path == about_url %} navbar-btn-active {% endif %}" href="{{ about_url }}"><span class="fas fa-info-circle"></span> About</a>
                            <a class="dropdown-item {% if request.path == help_url %} navbar-btn-active {% endif %}" href="{{ help_url }}"><span class="fas fa-question-circle"></span> Help</a>
                            <a class="dropdown-item" href="https://www.geo.tuwien.ac.at/media/filer_public/15/6c/156cd163-cd29-4dd3-a132-820bcb653817/frm4sm_dt3-1_qa4sm_sum_v11.pdf" target="_blank"><span class="fas fa-book-open"></span> User Manual</a>
                            <a class="dropdown-item {% if request.path == datasets_url %} navbar-btn-active {% endif %}" href="{{ datasets_url }}"><span class="fas fa-database"></span> Datasets</a>
                            <a class="dropdown-item {% if request.path == terms_url %} navbar-btn-active {% endif %}" href="{{ terms_url }}"><span class="fas fa-balance-scale"></span> Terms</a>
                            {% if user.is_authenticated %}
                                <a class="dropdown-item {% if request.path == user_profile_url %} navbar-btn-active {% endif %}" href="{% url 'user_profile' %}"><span class="fas fa-user-cog"></span> Profile</a>
                                <a class="dropdown-item" href="{% url 'logout' %}"><span class="fas fa-door-open"></span> Logout</a>
                            {% endif %}
                        </div>
                    </div>
                </li>
                <li class="nav-item mr-md-3 mb-1 mb-md-0">
                    <a class="navbar-btn btn btn-outline-primary {% if request.path == validation_url %} navbar-btn-active {% endif %}" href="{{ validation_url }}"><span class="fas fa-cogs"></span> Validate</a>
                </li>
                <li class="nav-item mr-md-3 mb-1 mb-md-0">
                    <a class="navbar-btn btn btn-outline-primary {% if request.path == my_validations_url %} navbar-btn-active {% endif %}" href="{{ my_validations_url }}"><span class="fas fa-user-circle"></span> My Validations</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-btn btn btn-outline-primary {% if request.path == published_url %} navbar-btn-active {% endif %}" href="{{ published_url }}"><span class="fas fa-book"></span> Published Validations</a>
                </li>

            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script type="text/javascript">
        admin_mail = '{{admin_mail}}';
    </script>

    {% block dialogs %}
    {% endblock %}

    {% block javascript %}
    {% endblock %}

</body>
</html>
