<p-panel header="Metrics" [toggleable]="true" class="validation-row">
  <ng-template pTemplate="icons">
    <label class="p-panel-header-icon"
           pTooltip="Specify metrics to calculate. Basic metrics between data set pairs are always calculated."
           tooltipPosition="bottom">
      <span class="pi pi-question-circle"></span>
    </label>
  </ng-template>

  <div class="grid pt-3">
    <div *ngIf="validationModel() as validationModel">
      <div *ngFor="let metric of validationModel.metrics" class="col-12">
        <qa-metric [metricModel]="metric"
                   [disabled]="checkIfDisabled(metric.id)"/>
      </div>
    </div>

    <div class="col-12">
      <qa-intra-annual-metrics [(selectedMetric)]="validationModel().intraAnnualMetrics"/>
    </div>
  </div>

<!--  <qa-seasonal-metrics></qa-seasonal-metrics>-->

</p-panel>
