<p-panel header="Metrics" [toggleable]="true" class="validation-row">
  <ng-template pTemplate="icons">
    <label class="p-panel-header-icon"
           pTooltip="Specify metrics to calculate. Basic metrics between data set pairs are always calculated."
           tooltipPosition="bottom">
      <span class="pi pi-question-circle"></span>
    </label>
  </ng-template>
  <div class="p-grid p-pt-3">
    <div class="p-col-12">
      <qa-metric [metricModel]="tripleCollocationMetrics"
                 [disabled]="validationModel.datasetConfigurations.length<2" (click)="switchOffBootstrap()"></qa-metric>
    </div>
    <div class="p-col-12">
      <qa-metric [metricModel]="bootstrapTripleCollocationMetrics"
                 [disabled]="validationModel.datasetConfigurations.length<2 ||
                  !(validationModel.datasetConfigurations.length>1 && tripleCollocationMetrics.value$.getValue())"></qa-metric>
    </div>
  </div>
</p-panel>
