@use 'style.variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');


* { box-sizing: border-box;}


// here we will overwrite default Aura thema with custom primengQA4SM
@layer primengQA4SM {
  .nav-menu.p-menubar {
    background: transparent;
    border: 0;
    box-shadow: none;
    width: 100%;
  }

  .nav-menu:not(.p-menubar-mobile) .p-menubar-root-list {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: .25rem;
  }

  .nav-menu-home {
    padding-top: 1.5rem;

  }

  // general p-panel styling
  .p-panel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    margin-bottom: 20px;
    border: 3px solid $base-color;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 1.4rem;
    background: $base-color;
    color: $font-color-white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }

  .p-panel-header .p-panel-title {
    font-weight: 400;      
    letter-spacing: 1px;
    text-align: center;
    flex: 1;               
  }

  // validation-result p-panel styling
  .result-row .p-panel-header .result-hdr {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  width: 100%;
  }
  .result-row .p-panel-header { padding-block: .1rem; }

  .result-row .result-hdr .result-hdr-left,
  .result-row .result-hdr .result-hdr-right {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 1rem;
    min-width: 0;
    flex-wrap: wrap;
  } 

  // validation-result filterinf p-panel styling
  .side-panel .p-panel-header { padding-block: .1rem; font-size: 1rem;}

  /* Style Validation Results buttons */
  .btn-bar {
    display: flex;
    justify-content: flex-end;   
    align-items: center;
    flex-wrap: wrap;             
    gap: .5rem .75rem;          
  }

  .btn-bar .p-button {
    display: inline-flex;
    align-items: center;
    height: 2.25rem;             
    padding: 0 .6rem;            
    line-height: 1.1;
  }
  .p-button.btn-action,
  .p-button.btn-action-large {
    color: #fff !important; 
  }

}