@use 'style.variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');


* { box-sizing: border-box;}



// here we will overwrite default Aura thema with custom primengQA4SM
@layer primengQA4SM {
  // general p-panel styling
  .p-panel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .75rem .75rem;
    margin-bottom: .75rem;
    border: 3px solid $base-color;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 1.4rem;
    background: $base-color;
    color: $font-color-white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }

  .p-panel-header .p-panel-title {
    font-weight: 400;      
    letter-spacing: 1px;
    text-align: center;
    flex: 1;               
  }

  // validation-result p-panel styling
  .result-row .p-panel-header .result-hdr {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  width: 100%;
  }
  .result-row .p-panel-header { padding-block: .1rem; }

  .result-row .result-hdr .result-hdr-left,
  .result-row .result-hdr .result-hdr-right {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 1rem;
    min-width: 0;
    flex-wrap: wrap;
  } 

  // validation-result filterinf p-panel styling
  .side-panel .p-panel-header { padding-block: .1rem; font-size: 1rem;}

  /* Style Validation Results buttons */
  .btn-bar {
    display: flex;
    justify-content: flex-end;   
    align-items: center;
    flex-wrap: wrap;             
    gap: .5rem .75rem;          
  }

  .btn-bar .p-button {
    display: inline-flex;
    align-items: center;
    height: 2.25rem;             
    padding: 0 .6rem;            
    line-height: 1.1;
  }
  .p-button.btn-action,
  .p-button.btn-action-large {
    color: #fff !important; 
  }




  //p-select dropdown list styling
  .p-float-label > label {
    font-size: 0.875rem;     // 14px
    color: $font-color-muted;
    letter-spacing: 0.3px;
  }
  /* when the control is focused or has a value, PrimeNG adds these states */
  .p-float-label .p-inputwrapper-focus ~ label,
  .p-float-label .p-inputwrapper-filled ~ label,
  .p-float-label .p-dropdown.p-focus ~ label,
  .p-float-label .p-dropdown.p-inputwrapper-filled ~ label {
    font-size: 0.75rem;      // 12px when floated
    color: $font-color-muted;
    opacity: 0.9;            
  }



}