/* You can add global styles to this file, and also import other style files */
@use 'style.variables' as *;
@use 'primeng-style' as *;

@import "ol/ol.css";

main {
  text-align: left;
  width: 100%;
  margin: auto;
  font-family: $base-font;
  line-height: 1.5rem;
  padding-top: 2rem; // DO NOT REMOVE THIS ONE!!!!!!!
}

a {
  color: $main-link-color;
  text-decoration: none;
}

a:hover {
  color: $button-hover-color;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 2rem;
  orphans: 3;
  widows: 3;
  page-break-after: avoid;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

.font-weight-normal {
  font-weight: 400 !important;
}


.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse !important;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6 !important;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table .thead-dark th {
  color: #fff;
  background-color: $base-color;
  border-color: #454d55;
}

.table .thead-dark th {
  color: #ffffff;
  border-color: #dee2e6;
}

.align-middle {
  vertical-align: middle !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.edit_name {
  border: 1px solid $base-color;
  border-radius: 4px;
  position: relative;
  padding: 3px;

}

.edit_name:focus {
  border: 1px solid $base-color;
  box-shadow: 0 0 0 .2rem rgba(33, 63, 224, .3);
  outline: none;
}


.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-deck .card {
  margin-bottom: 15px;
}

.text-muted {
  color: #6c757d;
}


.text-center {
  text-align: center !important;
}

.center{
  display: flex;
  justify-content: center;
  font-family: $base-font;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

}

img {
  page-break-inside: avoid;
}

img {
  vertical-align: middle;
  border-style: none;
}



.hidden {
  visibility: hidden;
}

.col-sm {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: .75s linear infinite spinner-border;
  animation: .75s linear infinite spinner-border;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.help-icon {
  font-size: 1.1rem;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}


.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar .container,
.navbar .container-fluid, .navbar .container-sm, .navbar .container-md, .navbar .container-lg, .navbar .container-xl {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}


.navbar-expand > .container,
.navbar-expand > .container-fluid, .navbar-expand > .container-sm, .navbar-expand > .container-md, .navbar-expand > .container-lg, .navbar-expand > .container-xl {
  padding-right: 0;
  padding-left: 0;
}

.navbar-expand > .container,
.navbar-expand > .container-fluid, .navbar-expand > .container-sm, .navbar-expand > .container-md, .navbar-expand > .container-lg, .navbar-expand > .container-xl {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.non-scrollable{
  position: fixed;
  overflow-y: hidden;
}

.small-label {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
  color: $main-page-color-3;
  line-height: 1rem;
  height: 2.5rem;
  padding: 1rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  min-width: 4.7rem;
  max-width: 7rem;
  text-align: center;
  justify-content: center;
}

@keyframes spinAndChangeColor {
  from {color: #9CF2F6}
  to {color: $base-color;}
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.loading-spinner{
  font-size: 10rem;
  margin: 1rem;
  animation-name: spinAndChangeColor;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}


// @media

@media (prefers-reduced-motion: reduce) {
  .spinner-border,
  .spinner-grow {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
  }
}

@media screen and (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .d-sm-none {
    display: none !important;
  }

  .d-sm-inline {
    display: inline !important;
  }

  .d-sm-block {
    display: block !important;
  }
  .card-deck {
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .card-deck .card {
    -ms-flex: 1 0 0;
    flex: 1 0 0;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }

  //.container, .container-sm {
  //  max-width: 540px;
  //}
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid, .navbar-expand-sm > .container-sm, .navbar-expand-sm > .container-md, .navbar-expand-sm > .container-lg, .navbar-expand-sm > .container-xl {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid, .navbar-expand-sm > .container-sm, .navbar-expand-sm > .container-md, .navbar-expand-sm > .container-lg, .navbar-expand-sm > .container-xl {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  //table {
  //  //background-color: red;
  //  display: block;
  //}
}


@media screen and (max-width: 767.98px) {
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid, .navbar-expand-md > .container-sm, .navbar-expand-md > .container-md, .navbar-expand-md > .container-lg, .navbar-expand-md > .container-xl {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid, .navbar-expand-md > .container-sm, .navbar-expand-md > .container-md, .navbar-expand-md > .container-lg, .navbar-expand-md > .container-xl {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

}

@media screen and (min-width: 768px) {
  //.container, .container-sm, .container-md {
  //  max-width: 720px;
  //}
  .d-md-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }

}

@media screen and (max-width: 991.98px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid, .navbar-expand-lg > .container-sm, .navbar-expand-lg > .container-md, .navbar-expand-lg > .container-lg, .navbar-expand-lg > .container-xl {
    padding-right: 0;
    padding-left: 0;
  }
  //
  //table {
  //  display: block;
  //}

}

@media screen and (min-width: 992px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid, .navbar-expand-lg > .container-sm, .navbar-expand-lg > .container-md, .navbar-expand-lg > .container-lg, .navbar-expand-lg > .container-xl {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  //.container, .container-sm, .container-md, .container-lg {
  //  max-width: 960px;
  //}

}

@media screen and (max-width: 1199.98px) {
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid, .navbar-expand-xl > .container-sm, .navbar-expand-xl > .container-md, .navbar-expand-xl > .container-lg, .navbar-expand-xl > .container-xl {
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid, .navbar-expand-xl > .container-sm, .navbar-expand-xl > .container-md, .navbar-expand-xl > .container-lg, .navbar-expand-xl > .container-xl {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  //.container, .container-sm, .container-md, .container-lg, .container-xl {
  //  max-width: 1140px;
  //}

}

.featurette-divider {
  max-width: 80rem;
}

.scroll-button {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  outline: none;
  opacity: 70%;
}


