// Background and font
$background-color: #ffffff;
$font-color-base: #333;
$font-color-white: #ffffff;
$font-color-muted: #939493;

$base-color: #1BA595;
$highlight-color: #F2B033;
$base-color-hover: #168F83; 
$base-color-active: #168F83;           
$base-color-transparent: rgba(27, 165, 149, 0.16); 

$main-page-color-1: #1BA595;
$main-page-color-1-trans: rgba(27, 165, 149, 0.7);
$main-page-color-2: #87BEA9;
$main-page-color-3: rgba(0, 76, 89);

$base-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$button-hover-color: #F8C100;  
$warning-text: #B45309;    
$pronouced-button-color: #ef4444 ;
