$base-color: #1BA595;
//$base-color: #00AAE3; // old one
$base-font-color: #212529;
$base-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$button-base-color: #007BFF;
//$button-base-color: #4760E5;
$button-hover-color: #213FE0;
$edit-name-button-backgroud-color: #1BA595;
$dropdown-buttons-background:  #f1f1f1;
$pronouced-button-color: #E3174B;
$menu-item-color:  #FFAC04; // #585864; #668B3E - green; //
$menu-item-focus-color: #F8C100; //#585864; #9E878D - green;//
$background-color: white;//#F0F4F5; //#74A5B9
$main-page-color-1: #1BA595;
$main-page-color-2: #87BEA9;
$main-page-color-3: rgba(0, 76, 89);

