// Background and font
$background-color: #ffffff;
$font-color-base: #333;
$font-color-white: #ffffff;
$font-color-muted: #6B7280;

$base-color: #1BA595;
$base-color-hover: #168F83; 
$base-color-active: #168F83;           
$base-color-transparent: rgba(27, 165, 149, 0.16); 


$warning-text: #B45309;  




$font-color-base-dark: #fff;
$font-color-muted-dark: #fff;


// Background and font
$button-base-color: #17A2B8;


$main-page-color-1: #1BA595;
$main-page-color-1-trans: rgba(27, 165, 149, 0.7);
$main-page-color-2: #87BEA9;
$main-page-color-3: rgba(0, 76, 89);

//$base-color: #1BA595;
$base-color: #27aa8e;
$highlight-shadow: rgba(255, 172, 4, 0.5);
$highlight-border: #FFAC04;

$base-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


$button-hover-color: #F8C100;    



$main-modal-header: #139a96;

$button-hover-color: #F8C100;
$button-active-color: #FFAC04;

$edit-name-button-backgroud-color: #1BA595;
$dropdown-buttons-background:  #f1f1f1;
$pronouced-button-color: #ef4444 ;
$menu-item-color:  #FFAC04; // #585864; #668B3E - green; //
$menu-item-focus-color: #F8C100; //#585864; #9E878D - green;//

$main-link-color: $main-page-color-1;
$main-link-hover-color: $main-page-color-3;
