
/* You can add global styles to this file, and also import other style files */
@use 'style.variables' as *;
@use 'primengQA4SM' as *;
@import "ol/ol.css";
@layer primengAura, primengQA4SM;  // here we will overwrite default Aura thema with custom primengQA4SM

main {
  width: 100%;
  margin: auto;
  line-height: 1.5rem;
  padding-top: 2rem; // DO NOT REMOVE THIS ONE!!!!!!!
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: $base-color;
  text-decoration: none;
}

a:hover {
  color: $highlight-color;
}


.p-menubar.nav-menu.nav-menu-home,
.p-menubar.nav-menu.nav-menu-home * {
  color: $highlight-color !important;
}

/* And keep the token overrides too, to match Aura theme API */
.p-menubar.nav-menu.nav-menu-home {
  --p-menubar-item-color: $highlight-color !important;
  --p-menubar-item-icon-color: $highlight-color !important;
  --p-menubar-item-focus-color: $highlight-color !important;
  --p-menubar-item-active-color: $highlight-color !important;
  --p-menubar-item-icon-focus-color: $highlight-color !important;
  --p-menubar-item-icon-active-color: $highlight-color !important;
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
  line-height: 1.2;
  color: $base-color;
}

h1, .h1 {
  font-size: 2rem;
}

h2, .h2 {
  font-size: 1.5rem;
}

h3, .h3 {
  font-size: 1.17rem;
  orphans: 3;
  widows: 3;
  page-break-after: avoid;
}

h4, .h4 {
  font-size: 1rem;
}

h5, .h5 {
  font-size: 0.83rem;
}


/* Code blocks */
pre {
  background-color: #000000;
  padding: 10px;
  border: 1px solid $base-color;
  border-left: 4px solid $base-color;
  overflow-x: auto;
  font-family: 'Courier New', monospace;
  font-size: 0.95rem;
}

code {
  padding: 2px 4px;
  color: $base-color;
}

.copy-btn {
  cursor: pointer;
}


.table {
  width: 100%;
  margin-bottom: 1rem;
  //color: #212529;
  border-collapse: collapse !important;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6 !important;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table .thead-dark th {
  color: #fff;
  background-color: $base-color;
  border-color: #454d55;
}

.table .thead-dark th {
  color: #ffffff;
  border-color: #dee2e6;
}

.align-middle {
  vertical-align: middle !important;
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: .75s linear infinite spinner-border;
  animation: .75s linear infinite spinner-border;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}

@keyframes spinAndChangeColor {
  from {color: #9CF2F6}
  to {color: $base-color;}
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.loading-spinner{
  font-size: 10rem;
  margin: 1rem;
  animation-name: spinAndChangeColor;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@media screen and (max-width: 960px) {

  .nav-menu.p-menubar.p-menubar-mobile {
    position: relative;
  }
  .nav-menu.p-menubar.p-menubar-mobile .p-menubar-button {
    position: absolute;
    right: 1rem;
    top: -2.5rem;
    z-index: 20;
  }

  .nav-menu-home.p-menubar.p-menubar-mobile .p-menubar-button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 20;
  }

  .nav-menu.p-menubar.p-menubar-mobile .p-menubar-root-list {
    margin-top: 1rem;
  }
}
