$main-page-color-1: #1BA595;
$main-page-color-1-trans: rgba(27, 165, 149, 0.7);
$main-page-color-2: #87BEA9;
$main-page-color-3: rgba(0, 76, 89);

$base-color: #1BA595;
$highlight-shadow: rgba(255, 172, 4, 0.5);
$highlight-border: #FFAC04;
//$base-color: #00AAE3; // old one
$base-font-color: #212529;
$base-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$button-base-color: #17A2B8;
//$button-base-color: #007BFF;
//$button-base-color: #4760E5;
$button-hover-color: #F8C100;
$button-active-color: #FFAC04;
//$button-hover-color: #213FE0;
$edit-name-button-backgroud-color: #1BA595;
$dropdown-buttons-background:  #f1f1f1;
$pronouced-button-color: #E3174B;
$menu-item-color:  #FFAC04; // #585864; #668B3E - green; //
$menu-item-focus-color: #F8C100; //#585864; #9E878D - green;//
$background-color: white;//#F0F4F5; //#74A5B9
$main-link-color: $main-page-color-1;
$main-link-hover-color: $main-page-color-3;

$checkbox-main-color: $main-page-color-1;
$checkbox-hover-color: $main-page-color-2;
$checkbox-shadow-color: $highlight-shadow;
$checkbox-focus-color: $highlight-border;

$calendar-picker-main-color: $main-page-color-1;

