<!-- custom -->
<main>
  <div class="container p-text-center p-mb-5 p-mt-4" style="max-width: 40rem;">
    <h1>Validation comparison</h1>
    <p class="lead text-muted">
      Compare results from your validations or published ones.
    </p>
  </div>

  <div class="grid no-gutters">
    <div class="
    col-12
    md:col-10 md:col-offset-1
    lg:col-10 lg:col-offset-1
    xl:col-8 xl:col-offset-2">

      <!--   validations selection   -->
      <qa-validation-selector></qa-validation-selector>
      <div class="container mb-5 mt-4"
           style="max-width: 60rem;">
        <!--       summary of the selected comparison  -->
        <div *ngIf="showComparisonResults" class="comparison-result-container">
          <div  class="text-center">
            <h3 class="my-3">Validation comparison results</h3>
          </div>
          <qa-comparison-summary></qa-comparison-summary>
          <!--        visualize the validation extent-->
          <qa-extent-visualization (isError)="handleError($event)"></qa-extent-visualization>
          <!--  table section  -->
          <qa-table-comparison (isError)="handleError($event)"></qa-table-comparison>
          <!--  plots section  -->
          <qa-plots (isError)="handleError($event)"></qa-plots>
        </div>

      </div>
    </div>
  </div>
  <p-scrollTop styleClass="scroll-button"></p-scrollTop>
</main>
