<div class="p-grid no-gutters">
  <div class="p-col-12">
    <p-checkbox label="Use measurements at given depth: "
                [binary]="true" [ngModel]="true" readonly="true" class="param-filter-checkbox">
    </p-checkbox>
    <a (click)="dialogVisible=true"><span style="padding-left: 5px;cursor: pointer;">select...</span></a>
  </div>
</div>

<p-dialog header="Select measurements depth range" position="top" [(visible)]="dialogVisible">
  <p>Choose a range to include measurements done only at a<br> particular depth range.<br>
    The filter will be applied to all stations in all chosen networks.</p>
  <div class="p-grid">
    <div class="p-col-12">
      <div class="p-float-label">
        <p-inputNumber id="depthFromInput"  [minFractionDigits]="1" [maxFractionDigits]="2" suffix=" m" [(ngModel)]="editFrom"></p-inputNumber>
        <label for="depthFromInput">Depth from</label>
      </div>
    </div>
    <div class="p-col-12">
      <div class="p-float-label">
        <p-inputNumber id="depthToInput" [minFractionDigits]="1" [maxFractionDigits]="2" suffix=" m" [(ngModel)]="editTo"></p-inputNumber>
        <label for="depthToInput">Depth to</label>
      </div>
    </div>
    <div class="p-col-12">
      <p-button label="OK" (onClick)="saveNewValues()"></p-button>
    </div>
  </div>


</p-dialog>
