<p-panel header="Spatial Subsetting" [toggleable]="true">
  <ng-template pTemplate="icons">
    <label class="p-panel-header-icon"
           pTooltip="Restrict the input and reference data to a lat/lon bounding box (specified with lower left and upper right corner coordinates). You can also select the bounding box on a map by clicking on the globe button."
           tooltipPosition="bottom">
      <span class="pi pi-question-circle"></span>
    </label>
  </ng-template>
 <div class="p-grid" >
   <div class="p-col-12 p-sm-5">
     <div class="p-grid no-gutters">
        <div class="p-col-12">
          <div class="p-d-flex p-jc-center">
            header
          </div>

        </div>
       <div class="p-col-6">
         <div class="p-d-flex p-jc-end">
                               <span class="p-float-label p-mr-2">
                                 <input type="text" id="inputtext3" pInputText style="width: 4rem">
                                 <label for="inputtext3">Lat</label>
                               </span>
         </div>

       </div>
       <div class="p-col-6">
         <span class="p-float-label p-mr-2">
                                 <input type="text" id="minLonInput" pInputText style="width: 4rem">
                                 <label for="minLonInput">Lon</label>
                               </span>
       </div>
     </div>
   </div>
   <div class="p-col-12 p-sm-2">

   </div>
   <div class="p-col-12 p-sm-5">
   </div>
 </div>
</p-panel>
