<p-panel header="Spatial Subsetting" [toggleable]="true" class="validation-row">
  <ng-template pTemplate="icons">
    <label class="p-panel-header-icon"
           pTooltip="Restrict the input and reference data to a lat/lon bounding box (specified with lower left and upper right corner coordinates). You can also select the bounding box on a map by clicking on the globe button."
           tooltipPosition="bottom">
      <span class="pi pi-question-circle"></span>
    </label>
  </ng-template>
  <div class="p-grid p-pt-1">

    <div class="p-col-12 p-sm-5">

      <div class="p-grid no-gutters">
        <div class="p-col-12">
          <div class="p-d-flex p-jc-center  p-pb-2">
            Lower left
          </div>
        </div>
        <div class="p-col-6">
          <div class="p-fluid">
            <div class="p-float-label ">

              <p-inputNumber id="minLatInput" [minFractionDigits]="1" [maxFractionDigits]="3"
                             [ngModel]="subsetModel.minLat$|async"
                             [min]="checkVal(subsetModel.minLat$|async)"
                             (ngModelChange)="subsetModel.minLat$.next($event)"></p-inputNumber>

              <label for="minLatInput">Lat</label>
            </div>
          </div>

        </div>
        <div class="p-col-6">
          <div class="p-fluid">
            <div class="p-float-label ">
              <p-inputNumber id="minLonInput" [minFractionDigits]="1" [maxFractionDigits]="3"
                             [ngModel]="subsetModel.minLon$|async"
                             [min]="checkVal(subsetModel.minLon$|async)"
                             (ngModelChange)="subsetModel.minLon$.next($event)"></p-inputNumber>

              <label for="minLonInput">Lon</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--    Clear and map buttons-->
    <div class="p-col-12 p-sm-2">
      <div class="p-d-flex p-jc-center">
        <button pButton type="button" icon="pi pi-trash" pTooltip="Clear coordinates"
                class="clearCoordinates p-button-info p-mr-2" style="padding: 0.2rem;"
                (click)="clearCoordinatesOrSetDefault()"></button>
      </div>
    </div>

    <!--    Upper right coordinates-->
    <div class="p-col-12 p-sm-5">
      <div class="p-grid no-gutters">
        <div class="p-col-12">
          <div class="p-d-flex p-jc-center p-pb-2">
            Upper right
          </div>
        </div>
        <div class="p-col-6">
          <div class="p-fluid">
            <div class="p-float-label ">

              <p-inputNumber id="maxLatInput" [minFractionDigits]="1" [maxFractionDigits]="3"
                             [ngModel]="(subsetModel.maxLat$|async)"
                             [max]="checkVal(subsetModel.maxLat$|async)"
                             (ngModelChange)="subsetModel.maxLat$.next($event)"></p-inputNumber>

              <label for="maxLatInput">Lat</label>
            </div>
          </div>
        </div>
        <div class="p-col-6">
          <div class="p-fluid">
            <div class="p-float-label ">
              <p-inputNumber id="maxLonInput" [minFractionDigits]="1" [maxFractionDigits]="3"
                             [ngModel]="subsetModel.maxLon$|async"
                             [max]="checkVal(subsetModel.maxLon$|async)"
                             (ngModelChange)="subsetModel.maxLon$.next($event)"></p-inputNumber>

              <label for="maxLonInput">Lon</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-panel>
