<p-panel header="Spatial Subsetting" [toggleable]="true">
  <ng-template pTemplate="icons">
    <label class="p-panel-header-icon"
           pTooltip="Restrict the input and reference data to a lat/lon bounding box (specified with lower left and upper right corner coordinates). You can also select the bounding box on a map by clicking on the globe button."
           tooltipPosition="bottom">
      <span class="pi pi-question-circle"></span>
    </label>
  </ng-template>
  <div class="p-grid">

    <div class="p-col-12 p-sm-5">

      <div class="p-grid no-gutters">
        <div class="p-col-12">
          <div class="p-d-flex p-jc-center">
            Lower left
          </div>
        </div>
        <div class="p-col-6">
          <div class="p-fluid" >
          <span class="p-float-label ">

                                 <p-inputNumber id="minLatInput" [minFractionDigits]="1" [maxFractionDigits]="3"
                                                [(ngModel)]="subsetModel.minLat"></p-inputNumber>

                                 <label for="minLatInput">Lat</label>
                               </span>
        </div>

        </div>
        <div class="p-col-6">
          <div class="p-fluid" >
          <span class="p-float-label ">
                                 <p-inputNumber id="minLonInput" [minFractionDigits]="1" [maxFractionDigits]="3"
                                                [(ngModel)]="subsetModel.minLon"></p-inputNumber>

                                 <label for="minLonInput">Lon</label>
                               </span>
          </div>
        </div>
      </div>
    </div>

    <!--    Clear and map buttons-->
    <div class="p-col-12 p-sm-2">
      <div class="p-d-flex p-jc-center">
        <button pButton type="button" icon="pi pi-trash" pTooltip="Clear coordinates"
                class="p-button-info p-mr-2" style="padding: 0.2rem;"
                 (click)="clearCoordinates()"></button>
        <button pButton type="button" icon="pi pi-map" pTooltip="Open map"
                class="p-button-info " style="padding: 0.2rem;"
                [disabled]="true"></button>

      </div>
    </div>

    <!--    Upper right coordinates-->
    <div class="p-col-12 p-sm-5">
      <div class="p-grid no-gutters">
        <div class="p-col-12">
          <div class="p-d-flex p-jc-center">
            Upper right
          </div>
        </div>
        <div class="p-col-6">
          <div class="p-fluid" >
          <span class="p-float-label ">

                                 <p-inputNumber id="maxLatInput" [minFractionDigits]="1" [maxFractionDigits]="3"
                                                [(ngModel)]="subsetModel.maxLat"></p-inputNumber>

                                 <label for="maxLatInput">Lat</label>
                               </span>
          </div>
        </div>
        <div class="p-col-6">
          <div class="p-fluid" >
          <span class="p-float-label ">
                                 <p-inputNumber id="maxLonInput" [minFractionDigits]="1" [maxFractionDigits]="3"
                                                [(ngModel)]="subsetModel.maxLon"></p-inputNumber>

                                 <label for="maxLonInput">Lon</label>
                               </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-panel>
