<div class="flex flex-column pt-4">
  <div class="w-12 text-center py-0 my-0">
    <div class="text-2xl py-0 my-0 text-muted">
      Intra-Annual Metrics
      <span class="pi pi-question-circle mb-1"
            pTooltip=""
            tooltipPosition="bottom">
      </span>
    </div>
  </div>
  <hr class="w-11 pt-0 mt-0 featurette-divider">


  <div class="flex flex-row flex-wrap py-4 px-2 align-content-center">
    <div class="flex flex-row flex-nowrap lg:w-4 w-11 py-2">
      <div class="small-label w-4">
        <div class="p-fluid">
          <div>Metric</div>
        </div>
      </div>
      <div class="w-8 px-0">
        <div class="p-float-label">
          <p-dropdown id="seasonalMetricsSelector"
                      [options]="seasonalMetrics"
                      [ngModel]="selectedMetric"
                      (ngModelChange)="onMetricChange($event)"
                      optionLabel="metricName"></p-dropdown>
          <label for="seasonalMetricsSelector">Select</label>
        </div>
      </div>
    </div>

    <div *ngIf="selectedMetric().metricName==='Intra Annual'" class="flex flex-row lg:w-8 w-11">
      <div
        class="flex flex-row flex-wrap w-12 lg:pt-0 pt-4 lg:justify-content-center justify-content-start gap-0 lg:ml-3">
        <div class="w-12 lg:w-6 lg:py-2 py-3 flex-nowrap flex lg:justify-content-center justify-content-start">
          <div class="small-label w-4">
            <div class="p-fluid">
              <div>Type</div>
            </div>
          </div>
          <div class="p-float-label">
            <p-dropdown id="seasonalMetricTypeSelector"
                        [options]="seasonalMetricTypes"
                        [ngModel]="selectedType()"
                        (ngModelChange)="updateSelectedMetric($event, 'type')"></p-dropdown>
            <label for="seasonalMetricTypeSelector">Select</label>
          </div>
        </div>
        <div class="w-12 lg:w-6 lg:py-2 py-3 flex flex-nowrap lg:justify-content-center justify-content-start">
          <div class="small-label w-4" style="max-width: 8rem">
            <div class="p-fluid">
              <div>Overlap</div>
            </div>
          </div>
          <div class="flex px-0 p-float-label align-content-center justify-content-start">
            <p-inputNumber
              id="overlapSelector"
              [showButtons]="true"
              [maxFractionDigits]="0"
              [suffix]="(selectedOverlap()) === 1 ? ' day' : ' days'"
              [ngModel]="selectedOverlap()"
              (ngModelChange)="updateSelectedMetric($event, 'overlap')"
              [step]="1"
              [min]="1"
              [max]="185">
            </p-inputNumber>
            <label for="overlapSelector">Select overlap</label>
          </div>
        </div>
      </div>
    </div>


  </div>


