{% extends 'admin/base_site.html' %}
{% load static %}

{% block content %}
<link href="{% static 'css/service.css' %}" rel="stylesheet">

<h1>System settings and status</h1>

    <div>
        <h2>Celery workers</h2>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col" style="white-space: nowrap; width: 1%;">Workers</th>
                    <th scope="col" style="white-space: nowrap; width: 1%;">Active tasks</th>
                    <th scope="col" style="white-space: nowrap; width: 1%;">Scheduled tasks</th>
                    <th scope="col">Queues</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
        <tbody>
            {% for w in workers %}
                <tr>
                    <td>{{w.name}}</td>
                    <td>{{w.active_tasks}}</td>
                    <td>{{w.scheduled_tasks}}</td>
                    <td>
                        <ul>
                        {% for queue in w.queues %}
                            <li >{{queue}}</li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td>-</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h2>Settings</h2>

        <form id="settings_form" action="{% url 'admin:system-settings' %}" method="post">
            {% csrf_token %}
            {{ settings_form.as_p }}
            <input style="float: initial;" type="submit" value="Save" class="default" name="_save" />
        </form>

    </div>

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>

<script>
    function ajax_set_maintenance_mode(mode) {
        var url = "{% url 'admin:system-settings' %}"

        $.ajaxSetup({ headers : { "X-CSRFToken" : '{{csrf_token}}' } });

        $.ajax({
            url : url,
            type : 'POST',
            data : { "maintenance_mode" : mode }
        });
    }
</script>
{% endblock %}
