@use 'src/style.variables' as *;

.warning-text{
  color: $warning-text;
}

.group-header {
  background: #f1f5f9;
  color: $font-color-base;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 0.85rem;
}