<p-panel header="Anomalies" [toggleable]="true" class="validation-row">
  <ng-template pTemplate="icons">
    <label class="p-panel-header-icon"
           pTooltip="Optionally calculates metrics from anomalies instead of absolute values. First, a climatology is computed using the chosen method and time period (only whole years are used), then the anomalies are calculated based on this. &quot;35 day moving average&quot; means that the climatology is calculated as a moving average of the data; &quot;climatology&quot; means that the average for each day of the year is calculated."
           tooltipPosition="bottom">
      <span class="pi pi-question-circle"></span>
    </label>
  </ng-template>
  <div class="flex flex-row flex-wrap py-4 px-2 justify-content-center align-content-center">
    <div class="flex flex-row flex-nowrap lg:w-4 w-11 py-2">
        <div class="small-label w-4">
          <div class="p-fluid">
            <div>Method</div>
          </div>
        </div>
        <div class="w-8 px-0">
          <div class="p-float-label">
            <p-dropdown id="anomaliesMethodSelector"
                        inputId="anomaliesMethodSelectorId"
                        [options]="availableAnomalyMethodModels"
                        [ngModel]="selectedMethod$|async"
                        (ngModelChange)="selectedMethod$.next($event)"
                        optionLabel="description"></p-dropdown>
            <label for="anomaliesMethodSelectorId">Select</label>
          </div>
        </div>
    </div>
    <div class="flex flex-row flex-nowrap lg:w-8 w-11">
      <qa-anom-climatology *ngIf="((selectedMethod$|async).method$|async)===anomaliesClimatology"
                           [anomaliesModel]="anomaliesModel"></qa-anom-climatology>
    </div>
  </div>
</p-panel>
