<p-panel header="Scaling" [toggleable]="false" class="validation-small-row">
  <ng-template pTemplate="icons">
    <label class="p-panel-header-icon"
           pTooltip="Optionally calculates metrics from anomalies instead of absolute values. First, a climatology is computed using the chosen method and time period (only whole years are used), then the anomalies are calculated based on this. &quot;35 day moving average&quot; means that the climatology is calculated as a moving average of the data; &quot;climatology&quot; means that the average for each day of the year is calculated."
           tooltipPosition="bottom">
      <span class="pi pi-question-circle"></span>
    </label>
  </ng-template>
  <div class="grid pt-2">
    <div style="width: 100%">
      <div class="col-12">
        <label for="scalingMethod">Method: </label>
      </div>
      <div class="col-12 pt-3" id="scalingMethod">
        <div class="p-float-label">
          <p-dropdown inputId="scalingMethodSelector"
                      (onChange)="updateScalingMethod()"
                      [options]="scalingMethods"
                      [ngModel]="selectedScalingMethod$|async"
                      (ngModelChange)="selectedScalingMethod$.next($event)"
                      optionLabel="description" [style]="{'width': '100%'}"></p-dropdown>
          <label for="scalingMethodSelector">Select scaling method</label>
        </div>
      </div>
    </div>
    <div style="width: 100%" *ngIf="(selectedScalingMethod$|async)?.method !== 'none'">
      <div class="col-12">
        <label for="scalingTo">Scale to: </label>
      </div>
      <div class="col-12 pt-3" id="scalingTo">
        <div class="p-float-label">
          <p-dropdown inputId="scalingReferenceSelector"
                      (onChange)="updateScaleTo(true)"
                      [options]="validationModel.datasetConfigurations"
                      [ngModel]="verifyScaleToModel()|async"
                      (ngModelChange)="selectedScaleToModel$.next($event)"
                      optionLabel="datasetModel.selectedDataset.pretty_name" [style]="{'width': '100%'}">
            <ng-template let-item pTemplate="item">
              <div (mouseover)="onHoverOverDataset(item, true)" (mouseleave)="onHoverOverDataset(item, false)"
                   (mouseup)="onHoverOverDataset(item, false)">
          <span>
            {{item.datasetModel.selectedDataset?.pretty_name}} ({{item.datasetModel.selectedVersion?.pretty_name}})
          </span>
              </div>
            </ng-template>
            <ng-template let-item pTemplate="selectedItem">
              <div>
                <span>{{item.datasetModel.selectedDataset?.pretty_name}}
                  ({{item.datasetModel.selectedVersion?.pretty_name}})</span>
              </div>

            </ng-template>
          </p-dropdown>
          <label for="scalingReferenceSelector">Select scaling reference</label>
        </div>
      </div>
    </div>
  </div>
</p-panel>
