@import "../../../styles";

div {
  font-family: $base-font;
}
::ng-deep .map-panel.p-panel {
  .p-panel-content {
    padding: 0px;
  }
}
.label {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  color: white;
  line-height: 1rem;
  min-height: 2rem;
  padding: 1rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #00AAE3;
  display: flex;
  align-items: center;
  min-width: 12rem;
}
.non-scrollable{
  position: fixed;
  overflow-y: hidden;
}


.help-field{
  color: white;
  background-color: #00AAE3;
  min-height: 3.2rem;
  border-radius: 0 5px 5px 0;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 3rem;
}

.form-field{
  border-radius: 0;
}

.ml-1-icon {
  position: relative;
  left: 1em;
}

#log-in div{
  width: 500px;
}
.alert{
  background-color: #ff5757;
  color: #ffe7e6;
}
