@use 'src/style.variables' as *;


div {
  font-family: $base-font;
}
.map-panel.p-panel {
  .p-panel-content {
    padding: 0px;
  }
}
.label {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: white;
  line-height: 1.5rem;
  min-height: 1.5rem;
  padding: 1rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: $base-color;
  display: flex;
  align-items: center;
  justify-content: center;
}
.non-scrollable{
  position: fixed;
  overflow-y: hidden;
}


.help-field{
  color: white;
  background-color: $base-color;
  height: 100%;
  border-radius: 0 5px 5px 0;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-field{
  border-radius: 0;
}

.ml-1-icon {
  position: relative;
  left: 1em;
}

#log-in div{
  width: 500px;
}
.alert{
  background-color: $main-page-color-3;
  color: white;
}
.validation-name{
  background-color: rgba(220, 220, 220, 0.2);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px){
  .label{
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
  }
  .help-field{
    border-top-right-radius: 0;
  }
}
