<!--<div class="p-grid">-->

<!--  &lt;!&ndash;  data&ndash;&gt;-->
<!--  <div class="p-md-6 p-sm-12">-->
<!--    <div class="p-d-flex p-jc-center">-->
<!--      <p-panel header="Data" [toggleable]="true" [style]="{'min-width': '20em'}">-->
<!--        <qa-dataset></qa-dataset>-->
<!--      </p-panel>-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash;  reference&ndash;&gt;-->
<!--  <div class="p-md-6 p-sm-12">-->
<!--    <div class="p-d-flex p-jc-center">-->
<!--      <p-panel header="Reference" [toggleable]="true" [style]="{'min-width': '20em'}">-->
<!--        <qa-dataset></qa-dataset>-->
<!--      </p-panel>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

