<!--<p-button label="Map" (onClick)="showMap()"></p-button>-->
<!--<p-dialog header="Map" [visible]="(mapVisible|async)" (close)="mapVisible.next(false)">-->
<!--  <qa-map class="map"-->
<!--          [center]="[-483281,6904172]"-->

<!--          [zoom]="8.5"></qa-map>-->
<!--</p-dialog>-->
<!--<qa-map class="map"-->
<!--        [center]="[-483281,6904172]"-->
<!--        [zoom]="8.5"></qa-map>-->
<div class="p-grid no-gutters">
  <div class="
    p-col-12
    p-md-10 p-md-offset-1
    p-lg-10 p-lg-offset-1
    p-xl-8 p-xl-offset-2">

    <div class="p-grid">

      <!--  data column-->
      <div class="p-md-6 p-col-12">
        <p-panel header="Data" [toggleable]="true">
          <ng-template pTemplate="icons">
            <label class="p-panel-header-icon"
                   pTooltip="The soil moisture dataset which is to be validated, i.e. compared to the 'Reference' data."
                   tooltipPosition="bottom">
              <span class="pi pi-question-circle"></span>
            </label>
          </ng-template>
          <p-accordion multiple="true">

            <p-accordionTab *ngFor="let item of validationModel.datasetConfigurations; let datasetIdx = index"
                            [header]="(item.datasetModel.selectedDataset?.pretty_name)+' / '+(item.datasetModel.selectedVersion?.pretty_name)+' / '+(item.datasetModel.selectedVariable?.pretty_name)"
                            [selected]="datasetIdx == 0">

              <qa-dataset *ngIf="validationModel.datasetConfigurations[datasetIdx].datasetModel.selectedDataset"
                          [selectionModel]="validationModel.datasetConfigurations[datasetIdx].datasetModel"
                          [removable]="true" (changeDataset)="onDatasetChange($event)"></qa-dataset>


              <qa-basic-filter *ngFor="let filter of item.basicFilters; let filterIdx = index"
                               [filterModel]="filter"></qa-basic-filter>
              <div style="width: 100%;text-align: right">
                <button pButton type="button"
                        (click)="removeDataset(validationModel.datasetConfigurations[datasetIdx])"
                        label="Remove dataset"
                        icon="pi pi-trash"
                        class="p-button-danger p-my-2"
                        style="padding: 0.2rem;">
                </button>
              </div>
            </p-accordionTab>

          </p-accordion>
          <button pButton
                  type="button"
                  label="Add dataset"
                  icon="pi pi-plus-circle"
                  (click)="addDatasetToValidate()"
                  class="p-button-success p-my-2"
                  style="padding: 0.2rem;"
                  [disabled]="addDatasetButtonDisabled()">
          </button>

        </p-panel>
      </div>

      <!--  reference column-->
      <div class="p-md-6 p-col-12">
        <p-panel header="Reference" [toggleable]="true">
          <ng-template pTemplate="icons">
            <label class="p-panel-header-icon"
                   pTooltip="The data which is to be used as a reference in the validation. The 'Data' will be compared against this reference."
                   tooltipPosition="bottom">
              <span class="pi pi-question-circle"></span>
            </label>
          </ng-template>

          <div
            *ngIf="validationModel.referenceConfigurations.length>0 && validationModel.referenceConfigurations[0].datasetModel.selectedDataset">
            <qa-dataset
              [reference]="true"
              [removable]="false"
              [selectionModel]="validationModel.referenceConfigurations[0].datasetModel"
              (changeDataset)="onReferenceChange()"></qa-dataset>

            <qa-basic-filter
              *ngFor="let filter of validationModel.referenceConfigurations[0].basicFilters; let i = index"
              [filterModel]="filter"></qa-basic-filter>
          </div>

        </p-panel>
      </div>

      <!--      Map-->
      <div class="p-col-12">
        <p-panel toggleable="true" [header]="'Map'" styleClass="map-panel" collapsed="true">
          <qa-map class="map" #qwerty
                  [spatialSubset]="validationModel.spatialSubsetModel"
                  [center]="[-37.1,37.6]"
                  [zoom]="2.5"></qa-map>
        </p-panel>

      </div>

      <!--      Spatial subsetting-->
      <div class="p-col-12">
        <qa-spatial-subset [subsetModel]="validationModel.spatialSubsetModel"></qa-spatial-subset>
      </div>


      <!--      Validation period-->
      <div class="p-col-12">
        <qa-validation-period [validationPeriodModel]="validationModel.validationPeriodModel"></qa-validation-period>
      </div>

      <!--      Metrics-->
      <div class="p-col-12">
        <qa-metrics [validationModel]="validationModel"></qa-metrics>
      </div>

      <!--      Anomalies-->
      <div class="p-col-12">
        <qa-anomalies [anomaliesModel]="validationModel.anomalies"></qa-anomalies>
      </div>

      <!--      Scaling-->
      <div class="p-col-12">
        <qa-scaling [validationModel]="validationModel"></qa-scaling>
      </div>

      <!-- Name -->
      <div class="p-col-12">
        <div class="p-grid p-px-2">
            <span class="label p-col-1">
              <label for="name">Name</label>
            </span>
          <input class="form-field p-col"
                 id="name"
                 type="text"
                 pInputText
                 [ngModel]="validationModel.nameTag$|async"
                 (ngModelChange)="validationModel.nameTag$.next($event)">
          <span title="You can optionally name the validation to make it easier to identify in your list of validations."
                class="pi pi-question-circle p-col-1 help-field">
          </span>
        </div>
      </div>

      <div class="p-col-12">
        <div>
          <div class="p-d-flex p-jc-center">
            <p-button label="Validate" (onClick)="startValidation()"></p-button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<qa-scroll-to-top></qa-scroll-to-top>
