<div class="navbar" [ngClass]="{'header-dark': isHomePage()}">
  <div *ngIf="!isHomePage() && isLogoDisplayed()"
       class="flex align-items-center justify-content-center logo-container"
       [ngClass]="{'w-2': !(logo().shape === 'square'), 'w-1': (logo().shape === 'square')}">
    <a routerLink="/home" class="lg:pl-0 md:pl-2">
      <p-image [src]="logo().path" [height]="logo().height" class="xl:mr-8 lg:mr-7 lg:ml-0 mr-0 ml-2"></p-image>
    </a>
  </div>
  <p-menubar [model]="items" [ngClass]="{'lg:w-10': !isHomePage()}" autoDisplay="false">
  </p-menubar>
</div>
<div *ngIf="isMaintenancePossible"
     class="flex flex-column w-12 alert py-2 text-center align-content-center justify-content-center">
  <h5 class="pt-2">
    {{potentialMaintenanceDescription}}
  </h5>
</div>
