<main class="container-fluid">
  <div class="center">
    <div class="grid">

      <div class="col" style="max-width: 20rem">
        <form [formGroup]="setPasswordForm" class="text-center" (ngSubmit)="onSubmit()">
          <h1 class="h3 mt-5 mb-0 font-weight-normal">
            <span *ngIf="!userAuthenticated">Password reset</span>
            <span *ngIf="userAuthenticated">Password update</span>
          </h1>
          <p *ngIf="!userAuthenticated">Please enter your new password twice to verify you typed it correctly.</p>
          <p *ngIf="userAuthenticated">Please enter your old password and new password twice to verify you typed it correctly.</p>

          <div class="p-fluid" *ngIf="userAuthenticated">
            <div class="py-3">
              <span class="p-float-label">
                <input class="form-field"
                       id="old-password"
                       type="password"
                       pInputText
                       formControlName="oldPassword"
                       pTooltip="Please provide your old password">
                <label for="password">Old password</label>
              </span>
            </div>


            <div class="py-3">
              <span class="p-float-label">
                <input class="form-field"
                       id="password"
                       type="password"
                       pInputText
                       formControlName="password1"
                       pTooltip="Your new password"
                       autocomplete="new-password">
                <label for="password">New password</label>
              </span>
            </div>

            <div class="py-3">
              <span class="p-float-label">
                <input class="form-field"
                       id="password-confirm"
                       type="password"
                       pInputText
                       pTooltip="Re-type your new password"
                       formControlName="password2">
                <label for="password-confirm">New password confirmation</label>
              </span>
              <div *ngIf="formErrors"
                   class="alert mt-2" style="width: 100%">
                <p>{{formErrors}}</p>
              </div>
            </div>
          </div>

          <button class="py-3"
                  pButton
                  type="submit"
                  label="Change my password" [disabled]="setPasswordForm.invalid">
          </button>

        </form>
      </div>
    </div>
  </div>
  <p-scrollTop styleClass="scroll-button"></p-scrollTop>
</main>

