@import "../buttons/buttons.component.scss";
//.att_val_container{
//  background-color: white;
//  color: black;
//  padding: 0.3em 0.3em 0.3em 0.3em;
//  border-bottom: #dddddd solid 1px;
//  margin: 0;
//}
//.att_val_container h5{
//  text-align: left;
//  float: left;
//  padding-top: 0.3em;
//}
//
//@media screen and (max-width: 714.9px){
//
//  .att_val_container h5 {
//    font-size: 1rem;
//  }
//  .pinned-validation{
//    min-width: 20rem;
//  }
//  .pinned-validation-buttons {
//    min-width: 20rem;
//  }
//
//}
