div {
  text-align: center;
}
.yml {
  padding: 0.3rem;
  text-align: left;
  width: 15rem;
  margin-left: 5rem;
  margin-bottom: 2rem;
  border-width:3px; border-style:solid;
}

img {
  padding-right: 2rem;
  padding-left: 2rem;
}

table, th, td {
  border:1px solid black;
  border-collapse: collapse;
  padding: 0.3rem;
}



//.w3-round{
//  align-content: center;
//}

