<div class="flex flex-row flex-wrap w-12 p-2 justify-content-center align-items-center">
  <div *ngFor="let legendItem of legendItems"
       class="legend-item flex flex-row flex-wrap xl:w-4 lg:w-5 w-12 justify-content-center gap-1">
    <div
      [innerHTML]="getCircleSVG(legendItem)"
      class="flex flex-column lg:p-0 justify-content-center align-items-center">
    </div>
    <div class="legend-label flex flex-column w-auto p-1 justify-content-center align-items-center">{{ legendItem.label }}</div>
    <div class="pi pi-question-circle flex flex-column justify-content-center align-items-center" [pTooltip]="legendItem.tooltip"></div>
  </div>
</div>
