.legend {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-symbol {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
