//@import "src/styles";
.expiry-icons{
  cursor: auto;
  font-size: 1.5rem;
  padding: 5px;
}

h5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0;
  max-width: 30rem;
}

*{
  line-height: 1.5rem;
}
input{
  font-size: 1.1rem;
}

a.doilink {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 564px) and (max-width: 714.9px){
  .status{
    max-width: 4rem;
    margin-left: 0;
  }
  div.p-col-3{
    width: 4rem;
  }
  h5 {
    font-size: 1rem;
  }

  #new-name{
    width: 4rem;
  }

}

@media screen and (max-width: 563.9px){
  div.p-col:not(.status){
    min-width: 80vw;
    padding: 0;
    padding-bottom: 0.5rem;
  }


  div.p-col-3{
    float: right;
    min-width: 25vw;
    max-width: 30vw;
    padding: 0;
  }
}

@media screen and (max-width: 377.9px){
  div.p-col:not(.status){
    min-width: 65vw;
    padding: 0;
  }

  div.p-col-3{
    min-width: 30vw;
    max-width: 40vw;
    padding: 0;
  }
}

@media screen and (max-width: 287.9px){
  div.p-grid{
    font-size: 0.9rem;
  }

  div.p-col:not(.status){
    min-width: 55vw;
    padding: 0;
  }

  div.p-col-3{
    min-width: 40vw;
    max-width: 50vw;
    padding: 0;
  }
}


