@use 'src/style.variables' as *;

.btn {
  background-color: $base-color;
  border: none;
  color: #fff;
  padding: 10px 10px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
 background-color: $base-color-hover;
  color: #fff;
}

.btn-remove {
  
  background-color: $pronouced-button-color;
  border: none;
  color: #fff;
  padding: 10px 10px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}