{% extends 'common/base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block additional_styles %}
    <link href="{% static 'css/solid.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontawesome.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <form method="post">
    <div class="container">

                  
                        
        {% csrf_token %}

        <h1 class="h3 font-weight-normal  center-text">User profile</h1>

        {% with WIDGET_ERROR_CLASS='is-invalid' %}
            {% for field in form %}
                    <label for="{{ field.auto_id }}" class="sr-only">{{ field.label }}</label>
                    <div class="input-group mb-3">
                        {% if field|widget_type == 'lazyselect' %}
                            {% render_field field class="form-control custom-select" title=field.help_text placeholder=field.label %}
                        {% else %}
                            {% render_field field class="form-control" title=field.help_text placeholder=field.label %}
                        {% endif %}
                        {% if field.help_text %}
                            <div class="input-group-append">
                                <span class="input-group-text fas fa-question-circle" id="basic-addon2" title="{{ field.help_text }}"></span>
                            </div>
                        {% endif %}
                    </div>
                    {% if field.errors %}
                        <p class="alert alert-danger small-padding">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                        </p>
                    {% endif %}
            {% endfor %}
        {% endwith %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
        <button class="btn btn-lg btn-danger btn-block" onclick="delete_profile()" type="button">Deactivate my account</button>
  
        </div>
    </form>
   
   <script type="text/javascript">
   const sleep = (milliseconds) => {
	   return new Promise(resolve => setTimeout(resolve, milliseconds))
	}
 
	document.addEventListener("DOMContentLoaded", function() {
	   sleep(3000).then(() => {
		   hide_messages();
		 })
	});
   
	function hide_messages(){
	   var elem = document.getElementById('messages');
	   elem.parentNode.removeChild(elem);
	}
	
	function delete_profile() {
        if (!confirm('Do you really want to deactivate your QA4SM account?')) {
            return;
           }
        var url = "{% url 'user_profile' %}";

        $.ajaxSetup({
              headers: { "X-CSRFToken": '{{csrf_token}}' }
        });

        $.ajax({
            url: url,
            type: 'DELETE',
            success: function (return_data) { // redirect to good by page
            	}
        });
    }
	
   </script>
{% endblock %}
