@use 'src/style.variables' as *;

@keyframes spinAndChangeColor {
  from {color: #9CF2F6}
  to {color: $base-color;}
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.loading-spinner{
  font-size: 10rem;
  margin: 1rem;
  animation-name: spinAndChangeColor;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
