.btn-primary.edit_name_btn{
    color: #fff;
    background-color: #00AAE3;
    border-color: #00AAE3;
    transform: scale(0.9);
    width: 0rem;
}
.btn-primary.edit_name_btn:not(.disabled):hover{
    color: #4760E5;
    background-color: #00AAE3;
    border-color: #00AAE3;
    transform: scale(1.2);
}

.btn-primary.save_name_btn, .btn-primary.cancel_editing_btn{
    color: #fff;
    background-color: #00AAE3;
    border-color: #00AAE3;
    transform: scale(1.2);
    width: 1.3rem;
}
.btn-primary.save_name_btn:not(.disabled):hover, .btn-primary.cancel_editing_btn:not(.disabled):hover{
    color: #4760E5;
    background-color: #00AAE3;
    border-color: #00AAE3;
    transform: scale(1.3);
}

.edit_name{
    border: 1px solid #00AAE3;
    border-radius: 4px;
    position: relative;
    padding: 3px;

}
.edit_name:focus{
    border: 1px solid #00AAE3;
    box-shadow: 0 0 0 .2rem rgba(33, 63, 224, .3);
    outline: none;
}

