.user-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.user-form .checkbox {
  font-weight: 400;
}
.user-form .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.user-form .form-control:focus {
  z-index: 2;
}
.user-form-user {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.user-form-password {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.alert.small-padding {
    padding: .2rem;
}

.custom-invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: rgb(255, 108, 92);
    display: block;
}

.custom-select.is-invalid, .form-control.is-invalid {
    border-color: rgb(255, 108, 92);
}

.custom-select.is-invalid:focus, . .is-invalid:focus {
    border-color: rgb(255, 108, 92);
    box-shadow: 0 0 0 .2rem rgba(255, 108, 92, .25);
}

.custom-control-input.is-invalid ~ .custom-control-label {
    color: rgb(255, 108, 92);
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #4760E5;
    background-color: #4760E5;
}

.custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: rgba(71, 96, 229,.5);
}

.custom-switch .custom-control-input[name='ref-parametrised_filters']:disabled:checked ~ .custom-control-label::after {
    visibility: hidden;
}

.custom-switch .custom-control-input[name='ref-parametrised_filters']:disabled:checked ~ .custom-control-label::before {
    background-color: rgba(71, 96, 229, 1);
    width: 1rem;
    margin-left: 0.35rem;
}


.custom-switch .custom-control-input[name='ref-parametrised_filters']:disabled:checked+label{
    color: #000;
}
#dc_form_container div > label.custom-control-label{
  width: 95%;
}

.alert-danger {
    color: rgb(255, 108, 92);
    background-color: rgba(255, 108, 92, .15);
}

a, .link-primary {
    color: #4760E5;
}

a:hover, .link-primary:hover {
    color: #213FE0;
    text-decoration: underline;
}

.btn-primary {
    color: #fff;
    background-color: #4760E5;
    border-color: #4760E5;
}

.btn-primary:disabled {
    opacity: 0.5;
    color: #fff;
    background-color: #4760E5;
    border-color: #4760E5;
}

.btn-primary:not(:disabled):not(.disabled):hover, .btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #213FE0;
    border-color: #213FE0;
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(33, 63, 224, .5);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: rgb(71, 96, 229);
}

.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: rgba(71, 96, 229,.5);
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 .2rem rgba(71, 96, 229,.25);
}

.card-header {
    padding: .5rem 1.25rem;
    background-color: #00AAE3;
    color: #ffffff;
}

.news {
     background-color: #CEEBF6;
}

.news ul {
    padding-left: 1rem;
    margin-bottom: 0;
}


.list li::before, .news li::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    float: left;
    margin-left: -1em;
}

.list li, .news li {
    display: block;
}


.modal-header {
    padding: .5rem 1.25rem;
    background-color: #00AAE3;
    color: #ffffff;
}

.modal-header .close {
    color: #ffffff;
    opacity: .9;
}

.modal-header .close:not(:disabled):not(.disabled):focus,
.modal-header .close:not(:disabled):not(.disabled):hover {
    opacity: 1;
}

.input-group-text {
    background-color: #00AAE3;
    color: #ffffff;
}

.btn-select {
    color: #4760E5;
    background-color: transparent;
    border-color: #6c757d;
    font-size: .875rem;
    padding-top: .25rem;
}

.help-icon {
    border: initial;
    padding: initial;
    display: inline-block;
    float: right;
    background-color: inherit;
    color: inherit;
}

.card-header h4 {
    display: inline-block;
}

.table .thead-dark th{
    color:white;
    background-color:#00AAE3;
    border-color:white
}

.btn-action {
    width: 2.4em;
    margin-top: 0.12rem;
    margin-bottom: 0.12rem;
}

.scaled_image {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

a[aria-expanded=true] .fa-plus-circle {
   display: none;
}
a[aria-expanded=false] .fa-minus-circle {
   display: none;
}

.card-menu {
    float: right;
    display: flex;
}

.card-menu > * {
    border: initial;
    padding: initial;
}

.card-menu > a:hover {
    background-color: inherit;
    color: inherit;
    text-decoration: none;
}

.card-menu > :not(:last-child) {
    margin-right: .3em;
}

.no_name_change_info{
    color: #fff;
    background-color: #00AAE3;
    border-color: #00AAE3;
    transform: scale(0.5);
    width: 1rem;
}

.btn-primary.edit_name_btn{
    color: #fff;
    background-color: #00AAE3;
    border-color: #00AAE3;
    transform: scale(0.9);
    width: 0rem;
}
.btn-primary.edit_name_btn:not(.disabled):hover{
    color: #4760E5;
    background-color: #00AAE3;
    border-color: #00AAE3;
    transform: scale(1.2);
}

.btn-primary.save_name_btn, .btn-primary.cancel_editing_btn{
    color: #fff;
    background-color: #00AAE3;
    border-color: #00AAE3;
    transform: scale(1.2);
    width: 1.3rem;
}
.btn-primary.save_name_btn.result_page, .btn-primary.cancel_editing_btn.result_page{
    width: 2rem;
    margin-left: 0.3rem;
    transform: scale(1.5);
}

.btn-primary.save_name_btn:not(.disabled):hover, .btn-primary.cancel_editing_btn:not(.disabled):hover{
    color: #4760E5;
    background-color: #00AAE3;
    border-color: #00AAE3;
    transform: scale(1.3);
}

.btn-primary.save_name_btn.result_page:not(.disabled):hover, .btn-primary.cancel_editing_btn.result_page:not(.disabled):hover{
    transform: scale(1.7);
}

.edit_name{
    border: 1px solid #00AAE3;
    border-radius: 4px;
    position: relative;
    padding: 3px;

}
.edit_name:focus{
    border: 1px solid #00AAE3;
    box-shadow: 0 0 0 .2rem rgba(33, 63, 224, .3);
    outline: none;
}

.depth_range.form-control{
    width: 20%;
    height: 20%;
    display: inline;
    padding: 5px;
}
label[for="depth_to"]{
    margin-right: 1.2rem;
}
label[for="depth_from"]{
    margin-right: .12rem;
}

button.ui-datepicker-current {
    display: none;
}

button.ui-datepicker-close.ui-state-default.ui-priority-primary.ui-corner-all {
    float: right;
    font-weight: normal;
    background: #00AAE3;
    color: #FFFFFF
}
select.ui-datepicker-year, select.ui-datepicker-month {
  border-radius: 5px;
  background: #fff;
}
button.ui-datepicker-trigger{
  margin-left: 7px;
}

