html {
    font-size: 14px;
}

@media(min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.navbar {
    background-color: #00AAE3;
    color: #ffffff;
}

.navbar-brand {
    color: #ffffff;
}

.navbar-brand:hover {
    color: #ffffff;
    text-decoration: underline;
}

.nav-link {
    color: #FFDB5C;
}

.nav-link:focus, .nav-link:hover {
    color: #F8C100;
}

.navbar-btn {
    color: #FFDB5C;
    border-color: #FFDB5C;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28 255.0, 219.0, 92.0 %29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-btn:hover, .navbar-btn:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #F8C100;
    border-color: #FFDB5C;
}

.navbar-btn-active {
    color: #fff;
    background-color: #F8C100;
}

.navbar-btn:focus, .navbar-btn:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(248, 193, 0, .5);
}

.show > .btn-outline-primary.dropdown-toggle {
    background-color: inherit;
    color: #FFDB5C;
    border-color: #FFDB5C;
}

.show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(248, 193, 0, .5);
}

.dropdown-item.navbar-btn-active {
    color: initial;
}

.dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover {
    background-color: rgba(248, 193, 0, .5);
}

.container {
    max-width: 960px;
}

.card-body {
    text-align: left;
}

.center-text {
    text-align: center;
}

.addon-w {
    min-width: 6.5rem;
}

.addon-w-pub {
    min-width: 7rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.indented {
    margin-left: 1rem;
}

.nav-tabs .nav-item:not(:last-child) {
    margin-right: initial;
}

.nav-tabs .nav-item {
    margin-left: .25rem;
    margin-top: .25rem;
    line-height: .8;
}

.nav-tabs .nav-link {
    color: #888a85;
    border-color: #e9ecef #e9ecef #dee2e6;
}

.tab-plus {
    margin-left: auto;
    margin-right: 0.3rem;
    margin-top: .2rem;
    margin-bottom: .2rem;
    padding: 0 .35rem;
}

.tab-minus {
    position: relative;
    left: -0.8rem;
     width: 0.1rem;
     margin-right: 0.000001rem;
     padding: .0000001rem;
     color: black;
}
.tab-minus:hover {
    color: black;
    text-decoration: none;
    transform: scale(1.2);
}

a.doilink {
    color: white;
}
div.col-1{
    visibility: hidden;
}
div.plot_div {
    width: 100%;
    height: 10%;
}

#user_info {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
#user_info h2{
  font-size: 1.2em;
  font-weight: normal;
}
#hide_user_info{
  font-size: 1.2em;
}
#user_info > #hide_user_info{
    position: relative;
    left: 92%;
}
#users_list {
    background-color: white;
    font-size: 0.9em;
    height: 2em;
}
#users_list optgroup {
    font-size: 1em;
}

.validate-confirm {
  display: none;
  color: #00212e;
}
div.ui-dialog-titlebar{
  background-color: #00AAE3;
  color: white;
}
.hide_element {
  display: none;
}

.att_val_container{
  background-color: white;
  color: black;
  padding: 0.3em 0.3em 0.3em 0.3em;
}
.att_val_container h5.my-0{
  float: left;
  padding-top: 0.3em;
}
.att_val_container div.col-sm{
  text-align: right;
}
