html {
    font-size: 14px;
}

@media(min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.navbar {
    background-color: #00AAE3;
    color: #ffffff;
}

.nav-link {
    color: #FFDB5C;
}

.nav-link:focus, .nav-link:hover {
    color: #F8C100;
}

.navbar-btn {
    color: #FFDB5C;
    border-color: #FFDB5C;
}

.navbar-btn:hover, .navbar-btn:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #F8C100;
    border-color: #FFDB5C;
}

.navbar-btn-active {
    color: #fff;
    background-color: #F8C100;
}

.navbar-btn:focus, .navbar-btn:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(248, 193, 0, .5);
}

.nav-item:not(:last-child) {
    margin-right: 1em;
}

.show > .btn-outline-primary.dropdown-toggle {
    background-color: inherit;
    color: #FFDB5C;
    border-color: #FFDB5C;
}

.show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(248, 193, 0, .5);
}

.dropdown-item.navbar-btn-active {
    color: initial;
}

.dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover {
    background-color: rgba(248, 193, 0, .5);
}

.container {
    max-width: 960px;
}

.card-body {
    text-align: left;
}

.center-text {
    text-align: center;
}

.addon-w {
    min-width: 6.5rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.indented {
    margin-left: 1rem;
}

.nav-tabs .nav-item:not(:last-child) {
    margin-right: initial;
}

.nav-tabs .nav-item {
    margin-left: .25rem;
    margin-top: .25rem;
    line-height: .8;
}

.nav-tabs .nav-link {
    color: #888a85;
    border-color: #e9ecef #e9ecef #dee2e6;
}

.tab-plus {
    margin-left: auto;
    margin-right: 1.3rem;
    margin-top: .2rem;
    margin-bottom: .2rem;
    padding: 0 .35rem;
}

a.doilink {
    color: white;
}
