@use 'src/style.variables' as *;
li{
  word-break: break-word;
}
.expiry-icons{
  font-size: 1.1rem;
}

div.card-body{
  padding-top: 0;
}

input{
  font-size: 1.1rem;
}
.alert-danger {
  color: rgb(200, 108, 92);
  background-color: rgba(255, 193, 7, 0.16);
}

.comparison-header {
  font-size: 1.2rem;
}
.for-comparison-list{
  padding: 0;
}

