@use 'src/style.variables' as *;
li{
  word-break: break-word;
}
.expiry-icons{
  font-size: 1.1rem;
}

.alert-danger {
  color: rgb(200, 108, 92);
  background-color: rgba(255, 193, 7, 0.16);
}

.for-comparison-list{
  padding: 0;
}

.no_edit_name {
  max-width: 400px;
  word-break: break-word;  
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
}
