.align-middle {
    width: 10%;
    text-align: center;
}

.partner_logo {
    height: 3rem;
    vertical-align: middle;
}

#logo_ffg {
    height: 6rem;
    width: 13rem;
    float: right;
}
main {
  max-width: 40rem;
}

#introduction{
  text-align: justify;
  margin-bottom: 1rem;
}
#footer{
  text-align: justify;
}
#logo_esa {
  height: 4rem;
  float: right;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}
