<link rel="stylesheet" href="about.component.scss">
<div style="text-align: left; max-width: 40rem; width: 100%; margin: auto;">
    <p align="justify">
        <a href="https://www.ffg.at/en"><img id="logo_ffg" src="assets/about_images/logo_ffg.png"></a>
        The <b>QA4SM</b> project provides an operational online validation service for soil moisture products. It started
        in May 2018 and is supported by the <a href="https://www.ffg.at/en">Austrian Research Promotion Agency
        (Österreichische Forschungsförderungsgesellschaft, FFG)</a> in the
        <a href="https://www.ffg.at/en/program/austrian-space-applications-programme-0">Austrian Space Application Programme</a>.
    </p>

    <table class="table borderless">
        <tbody>
            <tr>
                <td class="align-middle">
                    <a href="https://climers.geo.tuwien.ac.at/climers/projects/current-projects/qa4sm/" target="_blank"><img class="partner_logo" src="assets/about_images/logo_tuwien_geo.png"></a>
                </td>
                <td class="align-left">
                    <b>TU Wien (Vienna University of Technology)</b><br>
                  batman
                    Department of Geodesy and Geoinformation<br>
                    Research Group Climate and Environmental Remote Sensing (CLIMERS)<br>
                    Website: <a href="https://climers.geo.tuwien.ac.at/climers/projects/current-projects/qa4sm/">https://climers.geo.tuwien.ac.at/climers/projects/current-projects/qa4sm/</a><br>
                    Contact: Wouter Dorigo (wouter.dorigo (at) tuwien.ac.at)<br>
                    Tasks: Scientific lead and research, dataset support
                </td>
            </tr>
            <tr>
                <td class="align-middle">
                    <a href="https://www.awst.at/" target="_blank"><img class="partner_logo" src="assets/about_images/logo_awst.png"></a>
                </td>
                <td class="align-left">
                    <b>AWST (Applied Science, Software and Technology)</b><br>
                    Website: <a href="https://www.awst.at">https://www.awst.at</a><br>
                    Contact: Alexander Boresch (boresch (at) awst.at)<br>
                    Tasks: Project management, technical lead, webservice development and operations
                </td>
            </tr>
            <tr>
                <td class="align-middle">
                    <a href="https://www.eodc.eu/" target="_blank"><img class="partner_logo" src="assets/about_images/logo_eodc.png"></a>
                </td>
                <td class="align-left">
                    <b>EODC (Earth Observation Data Centre)</b><br>
                    Website: <a href="https://www.eodc.eu/">https://www.eodc.eu</a><br>
                    Contact: Christoph Reimer (christoph.reimer (at) eodc.eu)<br>
                    Tasks: Data centre infrastructure
                </td>
            </tr>
        </tbody>
    </table>

    <hr class="featurette-divider">

    <p align="justify">
        QA4SM is open source software, licensed under an MIT license. <a href="https://github.com/awst-austria/qa4sm" target="_blank">It is available on GitHub.</a>
        This site uses <a class="font-weight-bold" href="https://github.com/awst-austria/qa4sm/releases/tag/v{{this.getAppVersion()}}" target="_blank">version {{this.getAppVersion()}}</a>.
    </p>


    <a href="#">Back to top</a>

</div>
