//@import "~bootstrap/dist/css/bootstrap.css";
@import "src/style.variables";

.align-middle {
    width: 10%;
    text-align: center;
}

.partner_logo {
    height: 3rem;
    vertical-align: middle;
}

.borderless td, .borderless th {
    border: none;
}

#logo_ffg {
    height: 6rem;
    float: right;
}
main {
  max-width: 40rem;
}

#introduction{
  text-align: justify;
  margin-bottom: 1rem;
}
#footer{
  text-align: justify;
}
