@import "../../../validation-result/components/buttons/buttons.component.scss";

.pcol6:hover{
  transform: scale(1.05);
}
.pcol:hover{
  transform: scale(1.05);
}
.result-plot{
  border-color: #dddddd;
  border-style: solid;
  border-width: thin;
}
.result-plot:hover{
  box-shadow: 0 0 2em gray;
  z-index: 1;
  cursor: pointer;
}
.center{
  text-align: center;
}
.btn-action-large{
  width: 12rem;
}
