@import "src/styles";

div {
  font-family: $base-font;
}

.custom-pagination {
  font-size: 1rem;
  text-align: center;
  margin-left: 0;
  margin-bottom: 1rem;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
}

.custom-pagination li {
  text-align: center;
  display: inline-block;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  height: 2.4rem;
  width: 2.2rem;
  border: 1px solid #dee2e6;
  margin-left: -1px;
}

.custom-pagination li:not(.disabled){
  cursor: pointer;
}

.custom-pagination li div {
  width: 100%;
  height: 100%;
  padding-top: 0.6rem;
  position: relative;
  display: block;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
}

.custom-pagination li:first-child, .custom-pagination li:first-child div{
  -webkit-border-bottom-left-radius: 0.3rem;
  -webkit-border-top-left-radius: 0.3rem;
}

.custom-pagination li:last-child, .custom-pagination li:last-child div{
  -webkit-border-bottom-right-radius: 0.3rem;
  -webkit-border-top-right-radius: 0.3rem;
}

.custom-pagination .pagination-previous, .pagination-next {
  display: inline-block;
  font-weight: bold;
}

.custom-pagination::before, .custom-pagination::after {
  content: ' ';
  display: table;
}

.custom-pagination::after {
  clear: both;
}

.custom-pagination li div:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.custom-pagination li div.current, .custom-pagination li.current {
  z-index: 3;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.custom-pagination li div.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
}

.custom-pagination .show-for-sr {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.custom-pagination .small-screen {
  display: none;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.side-panel-area {
  position: fixed;
  left: 2vw; /* Adjust as needed */
  top: 40vh; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  //width: 20vw;
}
.validation-row-area{
  position: relative;
}

.modify-checkbox{
  position: absolute;
  left: -30px;
  top: 10px;
}

.loading-vals-box{
  color: darkgray;
  display: flex;
  align-items:center;
  justify-content: center;
  margin-bottom: 2rem;
}

.val-number-information {
  display: flex;
  color: darkgray;
  font-weight: bold;
}









