@import "../../../../../style.variables";
input, textarea {
  width: 600px;
  border-radius: 4px;
  border-color: #ced4da;
}

.p-slider, .p-button {
  width: 600px
}

textarea {
  height: 200px;
}

p-checkbox ~ label, p-slider ~ label{
  color: #495057;
}

.form-control-box{
  position: absolute;
  left: -100vw;
}

@media screen and (max-width: 650px){
  input, textarea, .p-slider, .p-button {
    width: 80vw;
  }
}
