<div class="center">
  <div>
    <div class="center">
      <h1 class="h3 mb-3 font-weight-normal"> Contact us: </h1>
    </div>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

      <div class="py-3">
        <span class="p-float-label">
          <input class="form-field" id="email" type="email" pInputText formControlName="email">
          <label for="email">E-mail address</label>
        </span>
      </div>

      <div class="py-3">
        <span class="p-float-label">
          <input class="form-field" id="name" type="text" pInputText formControlName="name">
          <label for="name">Name</label>
        </span>
      </div>

      <div class="py-3">
        <span class="p-float-label">
          <textarea [ngClass]="{'form-field': true}" id="content"
                    pInputTextarea formControlName="content"> </textarea>
          <label for="content">Message</label>
        </span>
      </div>

      <div class="py-3" style="line-height: 1rem">
        <p-checkbox id="copy" formControlName="send_copy_to_user" binary="true"></p-checkbox>
        <label for="copy"> Send a copy to me.</label>
      </div>

      <div class="form-control-box">
        <p-checkbox id="active" formControlName="active" binary="true"></p-checkbox>
      </div>

      <div class="py-3 flex w-12" style="line-height: 1rem">
        <div class="p-float-label align-content-center justify-content-center text-center w-12">
          <p-slider id="honeypot" formControlName="honeypot" ></p-slider>
          <label for="honeypot"> To prove you're a real person, slide the handle all the way to the right <span class="pi pi-angle-double-right"></span></label>
        </div>

      </div>

      <button id="sendMessageForm"
              pButton
              type="submit"
              label="Send"
              [disabled]="!contactForm.valid && sliderValues.length < 10">
      </button>


    </form>
  </div>
</div>
