<div class="p-col-12 p-pl-3">
  <div class="p-grid"  id="thresholdInput">
    <div class="p-col-2 p-px-0">
      <div class="p-fluid" *ngIf="filterModel$|async as filterModel" [ngClass]="{'p-col-1': true}">
        <p> {{filterModel.filterDto.description}} </p>
      </div>
    </div>
    <div class="p-col-3 p-mx-0 p-px-0 p-fluid">
      <p-inputNumber id="threshold_filter"
                     [minFractionDigits]="2"
                     [maxFractionDigits]="2"
                     [suffix]="units"
                     [(ngModel)]="editThreshold"
                     [showButtons]="true"
                     [step]=increment
                     [min]=minThreshold
                     [max]=maxThreshold
                     (onInput)="saveNewValue($event)">
      </p-inputNumber>
      <div *ngIf="filterModel$|async as filterModel" [ngClass]="{'p-col-1': true}">
        <span class="pi pi-question-circle" [pTooltip]="filterModel.filterDto.help_text"></span>
      </div>
    </div>
  </div>
</div>
