<div class="p-grid no-gutters" style="align-items: center">
  <div class="p-col-11">
    <div class="p-grid">
      <div class="p-col-7 p-pt-3" *ngIf="filterModel$|async as filterModel">
        <p-checkbox label="{{filterModel.filterDto.description + ':'}}"
                    [binary]="true" [ngModel]="true" readonly="true" class="param-filter-checkbox">
        </p-checkbox>
      </div>
      <div class="p-col-4 p-mx-0 p-px-0 p-fluid">
        <p-inputNumber id="threshold_filter"
                       [minFractionDigits]="2"
                       [maxFractionDigits]="2"
                       [suffix]="units"
                       [(ngModel)]="editThreshold"
                       [showButtons]="true"
                       [step]=increment
                       [min]=minThreshold
                       [max]=maxThreshold
                       (onInput)="saveNewValue($event)">
        </p-inputNumber>
      </div>
    </div>
  </div>
  <div *ngIf="filterModel$|async as filterModel" [ngClass]="{'p-col-1': true}">
    <span class="pi pi-question-circle" [pTooltip]="filterModel.filterDto.help_text"></span>
  </div>
</div>

