<div class="grid no-gutters" style="align-items: center">
  <div class="col-11">
    <div class="grid">
      <div class="col-7 pt-3" *ngIf="filterModel$|async as filterModel">
        <p-checkbox label="{{filterModel.filterDto.description + ':'}}"
                    [binary]="true" [ngModel]="true" [readonly]=filterModel.filterDto.readonly [class]="filterModel.filterDto.readonly ?  'readonly-filter-checkbox' : ''">
        </p-checkbox>
      </div>
      <div class="col-4 mx-0 px-0 p-fluid">
        <p-inputNumber id="threshold_filter"
                       [minFractionDigits]="2"
                       [maxFractionDigits]="2"
                       [suffix]="units"
                       [(ngModel)]="editThreshold"
                       [showButtons]="true"
                       [step]=increment
                       [min]=minThreshold
                       [max]=maxThreshold
                       (onInput)="saveNewValue($event)">
        </p-inputNumber>
      </div>
    </div>
  </div>
  <div *ngIf="filterModel$|async as filterModel" [ngClass]="{'col-1': true}">
    <span class="pi pi-question-circle" [pTooltip]="filterModel.filterDto.help_text"></span>
  </div>
</div>

