version: "3.9"
services:      
  qa4sm-db:
    image: "postgres:10"
    restart: always
    environment:
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
    volumes:
      - type: bind
        source: "${QA4SM_WORKSPACE}db/log"
        target: /var/log
      - type: bind
        source: "${QA4SM_WORKSPACE}db/data"
        target: /var/lib/postgresql/data
        
  qa4sm-redis:
    image: "redis:alpine"
    restart: always
  
  qa4sm-rabbitmq:
    image: "rabbitmq"
    restart: always

  web:
    image: "awst/qa4sm:latest-2"
    restart: always
    environment:
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      PGPASSWORD: "${POSTGRES_PASSWORD}"
      QA4SM_DB_NAME: "${QA4SM_DB_NAME}"
      QA4SM_DB_USER: "${QA4SM_DB_USER}"
      QA4SM_DB_PASSWORD: "${QA4SM_DB_PASSWORD}"
      QA4SM_DB_HOST: "${QA4SM_DB_HOST}"

    volumes:
      - type: bind
        source: "${QA4SM_WORKSPACE}webapp/log"
        target: /var/log
      - type: bind
        source: "${QA4SM_WORKSPACE}webapp/output"
        target: /var/lib/qa4sm-web-val/valentina/output
      - type: bind
        source: "${QA4SM_WORKSPACE}webapp/settings/settings_conf.py"
        target: /var/lib/qa4sm-web-val/valentina/valentina/settings_conf.py
      - type: bind
        source: "${QA4SM_DATA_FOLDER}"
        target: /var/lib/qa4sm-web-val/valentina/data
      - type: bind
        source: "${QA4SM_WORKSPACE}webapp/user_data"
        target: /var/lib/qa4sm-web-val/valentina/data/user_data
      - type: bind
        source: "${QA4SM_WORKSPACE}webapp/cronjob-scripts"
        target: /var/lib/qa4sm-web-val/valentina/cronjob-scripts
      - type: bind
        source: "${QA4SM_DATA_FOLDER}/fixtures"
        target: "/var/lib/qa4sm-web-val/valentina/validator/fixtures"
  proxy:
    image: "awst/qa4sm-proxy:latest-2"
    restart: always
    ports:
      - "8083:80"
  ui:
    image: "awst/qa4sm-ui:latest-2"
    restart: always

  worker-1:
    image: "awst/qa4sm-worker:latest-2"
    restart: always
    environment:
      QA4SM_DB_HOST: "${QA4SM_DB_HOST}"
      QA4SM_CELERY_WORKERS: "${QA4SM_WORKER_THREAD_PER_NODE}"
    volumes:
      - type: bind
        source: "${QA4SM_WORKSPACE}celery-w1/log"
        target: /var/log
      - type: bind
        source: ${QA4SM_WORKSPACE}webapp/settings/settings_conf.py
        target: /var/lib/qa4sm-web-val/valentina/valentina/settings_conf.py
      - type: bind
        source: "${QA4SM_DATA_FOLDER}"
        target: /var/lib/qa4sm-web-val/valentina/data
      - type: bind
        source: "${QA4SM_WORKSPACE}webapp/user_data"
        target: /var/lib/qa4sm-web-val/valentina/data/user_data
      - type: bind
        source: "${QA4SM_USERMANUAL_FOLDER}"
        target: /var/lib/qa4sm-web-val/valentina/docs
      - type: bind
        source: "${QA4SM_DATA_FOLDER}/fixtures"
        target: "/var/lib/qa4sm-web-val/valentina/validator/fixtures"
    deploy:
      resources:
        limits:
          memory: 100G