{% extends 'common/base.html' %}

{% block content %}

<style type="text/css">
    .table .thead-dark th{
        color:white;
        background-color:#00AAE3;
        border-color:white
    }
</style>

<div style="text-align: left; max-width: 40rem; width: 100%; margin: auto;">
    <p>
        <a href="#validation">Validate Page</a><br/>
        <a href="#results_list">My Validations - Results List Page</a><br/>
        <a href="#results">Validation Results Page</a><br/>
        <a href="#published">Published Validations Page</a><br/>
    </p>

    <a id="validation"></a>
    <h1 class="h3 mb-3 font-weight-normal">Validate Page</h1>

    <p>
        The validate page is subdivided into areas for the various validation parameters. Each area has
        menu with two icons on the top right. Hover over the question mark to get help for the respective areas. You can
        use the +/- icon to fold up or fold down the area.
    </p>
    <div style="display:flex;">
        <img class="scaled_image mb-3" src="../../static/images/help/menu_minus.png">
        <img class="scaled_image mb-3" src="../../static/images/help/menu_plus.png">
    </div>

    <p>
        <b>Step 1</b> - Choose the data you would like to validate - including the dataset name, the version of the dataset,
        and one of the soil moisture variables provided in the dataset. More details on the supported datasets can be found
        <a href="{% url 'datasets' %}#data">here</a>.
    </p>
    <img class="scaled_image mb-3" src="../../static/images/help/data_set_selections.png">
    <p>
        <b>Step 2 [optional]</b> - Choose the criteria by which you would like to filter this dataset.
        The filters available depend on the data contained within the chosen dataset. For example,
        you can filter the C3S data to include only data with no inconsistencies detected (flag = 0).
        Details of the filter options provided for each dataset are given on the supported datasets page
        <a href="{% url 'datasets' %}">here</a>. You can also hover your mouse pointer over the question mark next to a filter
        to get a short explanation.
    </p>
    <p>
        <b>Step 3 [optional]</b> - If you want to intercompare several datasets, you can add more datasets to the validation
        using the <b>+</b> button, up to a maximum of five. Configure the settings for the additional datasets by selecting
        the respective tab and repeating steps 1 and 2 above.<br/>
    </p>
    <p class="alert alert-info">
        <b>Intercomparison:</b> The intercomparison mode of QA4SM validates up to five satellite data sets against a common
        reference data set. For each reference location (e.g. each ISMN station) it finds the nearest observation series in
        all selected satellite products.
        All observations series are then scaled (if selected) and temporally matched to the reference series.
        For validation only the common time stamps (that are available in all satellite products) are used to calculate validation metrics
        between the reference and each individual satellite product.
        This way deviations in the metrics due to different temporal coverage are excluded and validation results represent differences in
        the performance of the compared satellite products.
    </p>
    <img class="scaled_image mb-3" src="../../static/images/help/intercomparison.png">
    <p>
        <b>Step 4</b> - Choose the reference dataset you would like to use for the
        validation including the dataset name, the version of the dataset, and the soil moisture variables provided in
        the dataset. More details on the supported datasets can be found <a href="{% url 'datasets' %}#ref">here</a>.
    </p>
    <img class="scaled_image mb-3" src="../../static/images/help/reference_data_set_selections.png">
    <p>
        <b>Step 5 [optional]</b> - Choose the criteria by which you would like to filter the reference data prior to
        running the validation. The filters available depend on the data contained within the chosen dataset. For example,
        you can filter the ISMN data to include only data points where the soil_moisture_flag is &quot;G&quot; for &quot;good&quot;.
        Details of the filter options provided for each dataset are given on the supported datasets page
        <a href="{% url 'datasets' %}">here</a>. You can also hover your mouse pointer over the question mark next to a filter
        to get a short explanation.
    </p>
    <p>
        <b>Step 6 [optional]</b> - If you want to calculate metrics from anomalies instead of absolute values, select the desired method
        in the &quot;Method&quot; drop-down menu. The options are:
    </p>
    <ul>
        <li>Do not calculate: don't calculate anomalies, use absolute values.</li>
        <li>35 day moving average: calculate the differences between each measurement value and the 35 day moving average around the value.</li>
        <li>Climatology: calculate the differences between each measurement value and the climatology value for that day of the year. The climatology
        is calculated producing an average for each day of the year across the input dataset over the given climatology period. You have to specify
        which years to use for climatology calculation.</li>
    </ul>
    <img class="scaled_image mb-3" src="../../static/images/help/anomalies.png">
    <p>
        <b>Step 7 [optional]</b> - Chose the geographic area over which the validation should be performed. You can either specify a lat/lon bounding
        box directly or you can select the area on a map by clicking the globe button. The trash button will clear all four bounding
        box fields.<br/>
        If you don't specify an area, a global validation will be done.
    </p>
    <img class="scaled_image mb-3" src="../../static/images/help/spatial_subsetting.png">
    <img class="scaled_image mb-3" src="../../static/images/help/map_selection.png">
    <p>
        <b>Step 8 [optional]</b> - Choose the date range over which the validation should be performed. Accepted formats are: YYYY*MM*DD
        or DD*MM*YYYY where * can be any of &quot;.&quot;, &quot;/&quot; or &quot;-&quot;. If you don't provide a period it will be
        implicitly determined through temporal matching of the data and reference selected. For the time range covered by the various
        datasets, see the <a href="{% url 'datasets' %}">datasets page</a>.
    </p>
    <img class="scaled_image mb-3" src="../../static/images/help/validation_period.png">
    <p>
        <b>Step 9</b> - Choose how the data (or reference) will be scaled before metrics calculation.
        The data can be scaled to the reference (default) or vice versa.
        Note that in an intercomparision validation (with multiple datasets), only scaling to reference
        is possible.
        The scaling method determines how values of one dataset are mapped onto the value range of the
        other dataset for better comparability.
    </p>
    <img class="scaled_image mb-3" src="../../static/images/help/scaling.png">

    <p>
        <b>Step 10</b> - Optionally name your validation results to make it easier to identify it in
        the list of all your validations.
    </p>
    <img class="scaled_image mb-3" src="../../static/images/help/name_your_validation.png">

    <p>
        <b>Step 11</b> - Run the validation process. You'll be notified via e-mail once it's
        finished. You don't need to keep the results window (or even your browser) open for
        the validation to run. The email will contain a link to your results.
    </p>
    <img class="scaled_image mb-3" src="../../static/images/help/validate_button.png">

    <a id="results_list"></a>
    <h1 id="help3" class="h3 mb-3 font-weight-normal">My Validations - Results List Page</h1>

    <p>
        The list shows all your validations, including the currently running ones, sorted by date (latest first).
    </p>

    <img class="scaled_image mb-3" src="../../static/images/help/my_validations.png">

    <p>
        <i>Note:</i> Your validations will be automatically removed {{ expiry_period }} days after completion by our
        auto-cleanup process, unless you extend or archive them. You will be warned via email about validation expiry
        {{ warning_period }} days before deletion.
    </p>

    <p>
        The icons in the validations' title bars indicate the following:
    </p>

    <ul>
        <li>
            <span class="fas fa-ban"></span> The validation was cancelled.
        </li>
        <li>
            <span class="fas fa-running"></span> The validation is still running and has no results yet.
        </li>
        <li>
            <span class="fas fa-calendar-alt"></span> The validation has completed. It will be removed
            by the auto-cleanup process {{ expiry_period }} days after completion, unless you extend or archive it.
            You can see the expiration date by hovering your mouse over the icon.
        </li>
        <li>
            <span class="fas fa-archive"></span> The validation has been archived and won't be automatically removed
            by the cleanup process.
        </li>
        <li>
            <span class="fas fa-exclamation-triangle"></span> The validation will expire within the next
            {{ warning_period }} days and will then be removed by the auto-cleanup process, unless you extend or archive it.
            You can see the expiration date by hovering your mouse over the icon.
        </li>
    </ul>

    <p>
        The buttons on the right-hand side of each validation have the following effects:
    </p>

    <ul>
        <li>
            <span class="fas fa-folder-open"></span> You can access the <a href="#results">results details
            page</a> of a validation through its folder button.
        </li>
        <li>
            <span class="fas fa-stop"></span> The stop button is only visible while the validation is still
            running and allows you to abort it.
        </li>
        <li>
            <span class="fas fa-times"></span> The remove button is only visible once the validation has finished
            or was aborted and will permanently delete the result.
        </li>
        <li>
            <span class="fas fa-download"></span> The download graphs button allows you to download all graphs
            produced for the validation (in png and svg formats) in a zip archive.
        </li>
        <li>
            <span class="fas fa-file-download"></span> The download NetCDF button  allows you to download the
            validation result (metrics computed).
        </li>

        <li>
            <span class="fas fa-calendar-plus"></span> With the extend lifespan button, you can reset the auto-cleanup
            period of a result and thus postpone its automatic removal. You can use this if you're not sure yet whether
            you want to keep it - you will have another {{ expiry_period }} days to decide and will be notified
            (again) before deletion.
        </li>
        <li>
            <span class="fas fa-archive"></span> With the archive button, you can exclude a validation from auto-cleanup
            and thus keep it indefinitely.
        </li>
        <li>
            <span class="fas fa-calendar-alt"></span> With the un-archive button, you can make a validation eligible for
            auto-cleanup again. It will be automatically extended, so you will have another {{ expiry_period }} days before
            deletion and will be notified (again).
        </li>
    </ul>

    <a id="results"></a>
    <h1 class="h3 mb-3 font-weight-normal">Validation Results Page</h1>

    <p>
        Once the validation process is finished, you can see a summary of the validation run
        on the results page.
    </p>
    <img class="scaled_image mb-3" src="../../static/images/help/results_overview.png">

    <p>
        The buttons at the bottom of the result overview have the following effects:
    </p>

    <ul>
        <li>
            <span class="fas fa-times"></span> <span class="font-weight-bold">Remove</span> will permanently delete the result.
        </li>
        <li>
            <span class="fas fa-calendar-plus"></span> <span class="font-weight-bold">Renew</span> will reset the auto-cleanup
            period of a result and thus postpone its automatic removal. You can use this if you're not sure yet whether
            you want to keep it - you will have another {{ expiry_period }} days to decide and will be notified
            (again) before deletion.
        </li>
        <li>
            <span class="fas fa-archive"></span> <span class="font-weight-bold">Archive</span> will exclude a validation from auto-cleanup
            and thus keep it indefinitely.
        </li>
        <li>
            <span class="fas fa-calendar-alt"></span> <span class="font-weight-bold">Un-archive</span> will make a validation eligible for
            auto-cleanup again. It will be automatically extended, so you will have another {{ expiry_period }} days before
            deletion and will be notified (again).
        </li>
    </ul>



    <p>
        The following metrics are calculated during the validation process:
    </p>

    <table class="table table-bordered mb-5">
        <thead class="thead-dark">
            <tr><th scope="col">Name</th> <th scope="col">Description</th></tr>
        </thead>
        <tbody>
            <tr><th scope="row">Pearson's r</th><td>Pearson correlation coefficient</td></tr>
            <tr><th scope="row">Pearson's r p-value</th><td>p-value for pearson correlation coefficient</td></tr>
            <tr><th scope="row">Spearman's rho</th><td>Spearman rank correlation coefficient</td></tr>
            <tr><th scope="row">Spearman's rho p-value</th><td>p-value for Spearman rank correlation coefficient</td></tr>
            <tr><th scope="row">Root-mean-square deviation</th><td>Root-mean-square deviation</td></tr>
            <tr><th scope="row">Bias (difference of means)</th><td>Average Error</td></tr>
            <tr><th scope="row"># observations</th><td>Number of Observations</td></tr>
            <tr><th scope="row">Unbiased root-mean-square deviation</th><td>Unbiased root-mean-square deviation</td></tr>
            <tr><th scope="row">Mean square error</th><td>Mean square error</td></tr>
            <tr><th scope="row">Mean square error correlation</th><td>Mean square error correlation</td></tr>
            <tr><th scope="row">Mean square error bias</th><td>Mean square error bias</td></tr>
            <tr><th scope="row">Mean square error variance</th><td>Mean square error variance</td></tr>
        </tbody>
    </table>

    <p>
        Visualisations of these metrics are displayed in the <i>Result Files</i> section of the page: boxplots and geographical
        overview maps. You can select the metric shown with the left drop-down button below the graphs.<br/>
        For an intercomparison validation, all boxplots are combined into one graph. The dataset displayed in the overview
        map can be selected with the drop-down button on the right.
        <br/>
        You can also download a zipfile of all the plots in png and svg (vector) format by clicking on the <i>Download all
        graphs</i> button, and the result <a target="_blank" href="https://www.unidata.ucar.edu/software/netcdf/">NetCDF</a> file
        with all metrics with the <i>Download results in NetCDF</i> button.<br/>
    </p>
    <a id="results_graph"></a>
    <img class="scaled_image mb-3" src="../../static/images/help/results_graphs.png">

    <a id="published"></a>
    <h1 id="help4" class="h3 mb-3 font-weight-normal">Published Validations Page</h1>

    <p>
        The list shows validations on the QA4SM service that have been published to
        <a target="_blank" href="https://zenodo.org/">Zenodo</a> by their owners. This means the results can be cited
        with a <a target="_blank" href="https://www.doi.org/">DOI</a>.
    </p>

    <p class="mt-5">If you want to email us to send comments, report errors, or ask questions, you can do so at qa4sm (at) awst.at .</p>

    <a href="#">Back to top</a>



</div>

{% endblock %}
