{% extends 'validator/base.html' %}

{% block content %}

<style type="text/css">
    .table .thead-dark th{
        color:white;
        background-color:#00AAE3;
        border-color:white
    }
</style>

<div style="text-align: left; max-width: 40rem; width: 100%; margin: auto;">
    <p>
        <a href="#validation">Validation</a><br/>
        <a href="#results">Results</a><br/>
        <a href="#results_list">Results list</a><br/>
    </p>

    <a id="validation"></a>
    <h1 class="h3 mb-3 font-weight-normal">Validate Page</h1>

    <p>
        <b>Step 1</b> - Choose the data you would like to validate - including the dataset name, the version of the dataset,
        and the soil moisture variables provided in the dataset. More details on the supported datasets can be found
        <a href="{% url 'datasets' %}#data">here</a>.
    </p>
    <p>
        <b>Step 2</b> - Choose the reference dataset you would like to use for the
        validation including the dataset name, the version of the dataset, and the soil moisture variables provided in
        the dataset. More details on the supported datasets can be found <a href="{% url 'datasets' %}#ref">here</a>.
    </p>
    <img class="scaled_image mb-3" src="../../static/images/help/validate_01.png">

    <p>
        <b>Step 3</b> - Choose the date range over which the validation should be performed. Accepted formats are: YYYY*MM*DD
        or DD*MM*YYYY where * can be any of ".", "/" or "-".
    </p>
    <img class="scaled_image mb-3" src="../../static/images/help/validate_02.png">

    <p>
        <b>Step 4</b> - Choose the criteria by which you would like to filter the data prior to
        running the validation. The filters available depend on the data contained within the chosen dataset. For example,
        you can filter the ISMN data to include only data points where the soil_moisture_flag is "G" for "good".
        Details of the filter options provided for each dataset are given on the supported datasets page
        <a href="{% url 'datasets' %}">here</a>. You can also hover your mouse pointer over the question mark next to a filter
        to get a short explanation.
    </p>
    <img class="scaled_image mb-3" src="../../static/images/help/validate_03.png">

    <p>
        <b>Step 5</b> - Choose how the data (or reference) will be scaled before metrics calculation.
        The data can be scaled to the reference or vice versa.
        The scaling method determines how values of one dataset are mapped onto the value range of the
        other dataset for better comparability.
    </p>
    <img class="scaled_image mb-3" src="../../static/images/help/validate_04.png">

    <p>
        <b>Step 6</b> - Optionally name your validation results to make it easier to identify it in
        the list of all your validations.
    </p>
    <img class="scaled_image mb-3" src="../../static/images/help/validate_05.png">

    <p>
        <b>Step 7</b> - Run the validation process. You'll be notified via e-mail once it's
        finished. You don't need to keep the results window (or even your browser) open for
        the validation to run. The email will contain a link to your results.
    </p>
    <img class="scaled_image mb-3" src="../../static/images/help/validate_06.png">



    <a id="results"></a>
    <h1 class="h3 mb-3 font-weight-normal">Validation Results Page</h1>

    <p>
        The following metrics are calculated during the validation process:
    </p>

    <table class="table table-bordered mb-5">
        <thead class="thead-dark">
            <tr><th scope="col">Name</th> <th scope="col">Description</th></tr>
        </thead>
        <tbody>
            <tr><th scope="row">bias</th><td>Average Error</td></tr>
            <tr><th scope="row">RMSD</th><td>Root-mean-square deviation</td></tr>
            <tr><th scope="row">R</th><td>Pearson correlation coefficient</td></tr>
            <tr><th scope="row">p_R</th><td>p-value for pearson correlation coefficient</td></tr>
            <tr><th scope="row">&rho;</th><td>Spearman rank correlation coefficient</td></tr>
            <tr><th scope="row">p_&rho;</th><td>p-value for spearman rank correlation coefficient</td></tr>
            <tr><th scope="row">&tau;</th><td>Kendall rank correlation coefficient</td></tr>
            <tr><th scope="row">p_&tau;</th><td>p-value for kendall rank correlation coefficient</td></tr>
            <tr><th scope="row">nobs</th><td>Number of valid observations per grid point</td></tr>
            <tr><th scope="row">bias</th><td>Average Error</td></tr>
        </tbody>
    </table>

    <p>
        Once the validation process is finished, a short summary of the validation run
        is shown on the results page.
    </p>
    <img class="scaled_image mb-3" src="../../static/images/help/results_overview.png">

    <p>
        You can view boxplots of the distributions of the calculated metrics across locations
        by selecting the metric from the dropdown button below the plot. Click on the plot to
        enlarge it. You can also download all the boxplots in a zipfile by clicking on the
        Download button.
    </p>
    <img class="scaled_image mb-3" src="../../static/images/help/results_graphs.png">

    <p>
        Finally, you can download your validation results in a single
        <a target="_blank" href="https://www.unidata.ucar.edu/software/netcdf/">netcdf</a> file.
    </p>
    <img class="scaled_image mb-3" src="../../static/images/help/results_netcdf.png">



    <a id="results_list"></a>
    <h1 id="help3" class="h3 mb-3 font-weight-normal">My Validations - Results List Page</h1>

    <p>
        The list shows all your processed validations, including the currently running ones, sorted by date (latest first).
        Click on a validation link to jump to the <a href="#results"> results page</a> of your selected validation.
    </p>
    <img class="scaled_image mb-3" src="../../static/images/help/my_validations.png">

    <p class="mt-5">If you want to email us to send comments, report errors, or ask questions, you can do so at qa4sm (at) awst.at .</p>

    <a href="#">Back to top</a>

</div>

{% endblock %}
