{% extends 'validator/base.html' %}

{% block content %}

<style type="text/css">
    .table .thead-dark th{
        color:white;
        background-color:#00AAE3;
        border-color:white
    }
</style>

<div style="text-align: left; max-width: 40rem; width: 100%; margin: auto;">
    <p>
        <a href="#intercomparison">Intercomparison</a><br/>
        <a href="#validation">Validation</a><br/>
        <a href="#results">Results</a><br/>
        <a href="#results_list">Results list</a><br/>

    </p>
	<a id="intercomparison"></a>
	<h1 class="h3 mb-3 font-weight-normal">Intercomparison</h1>
	<p>The QA4SM validation tool allows intercomparison of up to five satellite data sets to a common reference data set.
	For each reference location (e.g. each ISMN station) we find the nearest observation series in all selected satellite products.
	All observations series are then scaled (if selected) and temporally matched to the reference series.
	For validation only the common time stamps (that are available in all satellite products) are used to calculate validation metrics 
	between the reference and each individual satellite product.
	This way deviations in the metrics due to different temporal coverage are excluded and validation results represent differences in 
	the performance of the compared satellite products.
	</p>

    <a id="validation"></a>
    <h1 class="h3 mb-3 font-weight-normal">Validate Page</h1>

    <p>
        <b>Step 1</b> - Choose the data you would like to validate - including the dataset name, the version of the dataset,
        and the soil moisture variables provided in the dataset. More details on the supported datasets can be found
        <a href="{% url 'datasets' %}#data">here</a>. 
    </p>
    <p>
        <b>Step 2</b> - Choose the criteria by which you would like to filter this dataset. 
        The filters available depend on the data contained within the chosen dataset. For example,
        you can filter the C3S data to include only data with no inconsistencies detected (flag = 0).
        Details of the filter options provided for each dataset are given on the supported datasets page
        <a href="{% url 'datasets' %}">here</a>. You can also hover your mouse pointer over the question mark next to a filter
        to get a short explanation.
    </p>
    <img class="scaled_image mb-3" src="../../static/images/help/data_set_selections.png">
    <p>
    	<b>Step 3</b> - You can add additional datasets using the <b>+</b> button. 5 datasets is the maximum allowed.
    	To define the details of each additional dataset repeat steps 1 and 2 above.
    </p>
    <p>
        <b>Step 4</b> - Choose the reference dataset you would like to use for the
        validation including the dataset name, the version of the dataset, and the soil moisture variables provided in
        the dataset. More details on the supported datasets can be found <a href="{% url 'datasets' %}#ref">here</a>.
    </p>

    <p>
        <b>Step 5</b> - Choose the criteria by which you would like to filter the reference data prior to
        running the validation. The filters available depend on the data contained within the chosen dataset. For example,
        you can filter the ISMN data to include only data points where the soil_moisture_flag is "G" for "good".
        Details of the filter options provided for each dataset are given on the supported datasets page
        <a href="{% url 'datasets' %}">here</a>. You can also hover your mouse pointer over the question mark next to a filter
        to get a short explanation.
    </p>
	<img class="scaled_image mb-3" src="../../static/images/help/reference_data_set_selections.png">
    <p>
        <b>Step 6</b> - Choose the date range over which the validation should be performed. Accepted formats are: YYYY*MM*DD
        or DD*MM*YYYY where * can be any of ".", "/" or "-".
    </p>
    <img class="scaled_image mb-3" src="../../static/images/help/validate_02.png">
    <p>
        <b>Step 7</b> - Choose how the data (or reference) will be scaled before metrics calculation.
        The data can be scaled to the reference (default) or vice versa.
        Note that scaling to data is only available if only one dataset was selected. Multiple datasets
        will be forced to scale to reference.
        The scaling method determines how values of one dataset are mapped onto the value range of the
        other dataset for better comparability.
    </p>
    <img class="scaled_image mb-3" src="../../static/images/help/scaling.png">

    <p>
        <b>Step 8</b> - Optionally name your validation results to make it easier to identify it in
        the list of all your validations.
    </p>
    <img class="scaled_image mb-3" src="../../static/images/help/name_your_validation.png">

    <p>
        <b>Step 9</b> - Run the validation process. You'll be notified via e-mail once it's
        finished. You don't need to keep the results window (or even your browser) open for
        the validation to run. The email will contain a link to your results.
    </p>
    <img class="scaled_image mb-3" src="../../static/images/help/validate_06.png">

    <a id="results_list"></a>
    <h1 id="help3" class="h3 mb-3 font-weight-normal">My Validations - Results List Page</h1>

    <p>
        The list shows all your processed validations, including the currently running ones, sorted by date (latest first).
        Each validation has some icons on the right side. The folder icon allow to view the 
        <a href="#results"> results page</a> of your selected validation. The X icon will allow to remove the result.
        The icon with the arrow pointing downward will allow you to download all the graphs. 
        The icon with the page will allow you to download the results as a NetCDF file.
    </p>
    <img class="scaled_image mb-3" src="../../static/images/help/my_validations_2.png">

    <a id="results"></a>
    <h1 class="h3 mb-3 font-weight-normal">Validation Results Page</h1>

    <p>
        The following table shows the metrics which are calculated during the validation process.
        A <a href="#results_graph">dropdown button</a> allows you to select which of these metrics is represented in the graph.
        <a href="#results_graph">See below</a>See below.
    </p>

    <table class="table table-bordered mb-5">
        <thead class="thead-dark">
            <tr><th scope="col">Name</th> <th scope="col">Description</th></tr>
        </thead>
        <tbody>
            <tr><th scope="row">Pearson's r</th><td>Pearson correlation coefficient</td></tr>
            <tr><th scope="row">Pearson's r p-value</th><td>p-value for pearson correlation coefficient</td></tr>
			<tr><th scope="row">Spearman's rho</th><td>Spearman rank correlation coefficient</td></tr>
            <tr><th scope="row">Spearman's rho p-value</th><td>p-value for spearman rank correlation coefficient</td></tr>
            <tr><th scope="row">Root-mean-square deviation</th><td>Root-mean-square deviation</td></tr>                        
            <tr><th scope="row">Bias (difference of means)</th><td>Average Error</td></tr>
            <tr><th scope="row"># observations</th><td>Number of Observations</td></tr>  
            <tr><th scope="row">Unbiased root-mean-square deviation</th><td>Unbiased root-mean-square deviation</td></tr>
            <tr><th scope="row">Mean square error</th><td>Mean square error</td></tr> 
            <tr><th scope="row">Mean square error correlation</th><td>Mean square error correlation</td></tr> 
            <tr><th scope="row">Mean square error bias</th><td>Mean square error bias</td></tr> 
            <tr><th scope="row">Mean square error variance</th><td>Mean square error variance</td></tr>             
        </tbody>
    </table>

    <p>
        Once the validation process is finished, a short summary of the validation run
        is shown on the results page.
    </p>
    <img class="scaled_image mb-3" src="../../static/images/help/results_overview.png">

    <p>
        The system can also display a number of boxplot graphs showing one of the calculated metrics.
        By default the system displays Pearson's r. You can change the selected metric using
        the dropdown button below the plot. <br>
        You can also download all the boxplots in a zipfile by clicking on the
        Download button.<br>
        In case that more than one data set (not counting the reference data set) was selected,
        the data set can be changed using the dropdown button with showing the data set names
        below the graph.
    </p>
    <a id="results_graph"></a>
    <img class="scaled_image mb-3" src="../../static/images/help/results_graphs.png">

    <p>
        Finally, you can download your validation results in a single
        <a target="_blank" href="https://www.unidata.ucar.edu/software/netcdf/">netcdf</a> file.
    </p>


    <p class="mt-5">If you want to email us to send comments, report errors, or ask questions, you can do so at qa4sm (at) awst.at .</p>

    <a href="#">Back to top</a>

</div>

{% endblock %}
