<div class="modal" id="ismn_networks" role="dialog" aria-labelledby="ismn_networks_title" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 30rem;">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="my-0 font-weight-normal" id="ismn_networks_title">Select ISMN networks</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>

            <div class="modal-body overflow-auto" style="max-height: 60vh;">

                <style type="text/css">
                    .ismn_label { display:inline-block; }
                    .ismn_indent { margin-left: 1rem; }
                </style>

                <p>
                    Click on a continent to unfold its list of networks.<br/>
                    Networks are listed here with <b>network name</b> and <b>countries</b><br/>
                    You can find more information about the ISMN networks on the <a href="https://ismn.geo.tuwien.ac.at/en/networks/"
                    target="_blank">ISMN networks list</a>.
                </p>

                <div class="continent_container">
                    <div class="custom-control custom-switch">
                        <input class="custom-control-input continent" id="" value="basic name" type="checkbox" name=""
                            onchange="toggleISMNContinent(this)" checked>
                        <label class="custom-control-label" for=""></label>
                        <div onclick="$('#id_collapse_').collapse('toggle')" class="ismn_label link-primary"></div>
                    </div>
                </div>
                <div class="collapse collapse_continent ismn_indent" id="id_collapse_">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm network">
                                <div class="custom-control custom-switch">
                                    <input class="custom-control-input network" id="id_network" value="" type="checkbox" checked name="">
                                    <label class="custom-control-label" for="id_network"></label>
                                </div>
                            </div>
                            <div class="col-sm country"></div>
                            <div class="col-1"></div>
                        </div>
                    </div>
                </div>

            </div>

            <input type="hidden" id="id_target_hidden_input" value="" name="target_hidden_input">

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="ismn_networks_button" type="button" onclick="setISMNNetworks(this);$('#ismn_networks').modal('hide');" class="btn btn-primary">Use networks</button>
            </div>

        </div>
    </div>
</div>


<!--Monika-->
<div class="modal" id="ismn_depth" role="dialog" aria-labelledby="ismn_networks_title" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 30rem;">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="my-0 font-weight-normal" id="ismn_depth_title">Select measurements depth range</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>

            <div class="modal-body overflow-auto depth" style="max-height: 60vh;">

                <style type="text/css">
                    .ismn_label { display:inline-block; }
                    .ismn_indent { margin-left: 1rem; }
                </style>

                <p>
                    Choose a range to include measurements done only at a particular depth range.<br/>
                    The filter will be applied to all stations in all chosen networks.
                </p>

                <div>
                    <div></div>
                        <label for="depth_from">Depth from: </label>
                        <input class="depth_range form-control" id="depth_from" value="" type="number" name="first_range"
                            onchange="toggleISMNContinent(this)" step="0.01" min="0.00">
                        <label for="depth_from">m</label>
                    </div>
                    <div>
                        <label for="depth_to">Depth to: </label>
                        <input class="depth_range form-control" id="depth_to" value="" type="number" name="first_range"
                            onchange="toggleISMNContinent(this)" step="0.01" min="0.00">
                        <label for="depth_to">m</label>
                    </div>

            </div>

            <input type="hidden" id="id_target_hidden_input_depth" value="" name="target_hidden_input_depth">

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="ismn_depth_button" type="button" onclick="setISMNDepth(this);$('#ismn_depth').modal('hide');" class="btn btn-primary">Use depth range</button>
            </div>

        </div>
    </div>
</div>


<!--====================================== Java Script Codes ==================================================== -->
<script type="text/javascript">
    function toggleISMNContinent(checkbox) {
        var groupId = checkbox.id.replace(/^id_continent_/, 'id_collapse_')
        var filterboxes = $('#' + groupId).find('input:checkbox');
        var newValue = checkbox.checked;
        for (var f of filterboxes) {
            f.checked=newValue;
        }
    }

    function setISMNNetworks(source) {
        var ismnDialog = $(source).closest('#ismn_networks');
        var hiddenId = ismnDialog.find('#id_target_hidden_input').val();
        console.log(hiddenId)
        var networkList = '';
        for (var netCB of ismnDialog.find('input:checked.network')) {
            console.log(netCB.value)
            networkList += netCB.value + ',';
        }
        networkList = networkList.replace(/,+$/, ''); //remove the last coma

        $('#'+hiddenId).val(networkList);
    }

<!--Monika-->
        function ajax_take_network_info() {
            <!--using ajax to read the network info according to the -->
            var url = $("#validation_form").attr("version-options-url");
            var versionId = $('#id_target_hidden_input_version').val();
            $.ajax({
                url: url,
                async: false,
                data: {'version_id': versionId},
                success: function (return_data) {
                    data = return_data['network']
                }
            });
            return data
        }

        function get_network_info(){
            var network_info = ajax_take_network_info(); // taking info about network
            var keys = Object.keys(network_info) // taking keys

            // cleaning html in case this function is called more than once
            verify_html_element('continent_container')
            verify_html_element('collapse_continent')

           // taking basic html for continent
            var basic_continent_container = $(".continent_container") // taking basic container for continents
            var basic_continent_collapse = $('.collapse_continent')
            console.log(basic_continent_collapse)

           //iteration over keys - to sort networks according to continents
           $.each(keys, function(ind, key){
                var continent = key;
                var network = network_info[key];
                console.log(network)
                var key_word = key.replace(/ /g, '') //removing spaces from Americas :)

                //getting the basic html pattern
                var new_onclick = `$('#id_collapse_${key_word}').collapse('toggle')`
                var new_id = 'id_continent_' + key_word

                //getting the basic html pattern
                var new_continent_container = basic_continent_container.clone(true, true)
                var new_continent_collapse = basic_continent_collapse.clone(true, true)
                console.log($(new_continent_collapse).find('input'))

                // setting approprate attributes
                new_continent_container.find('input').attr('id', new_id)
                new_continent_container.find('input').attr('value', key_word)
                new_continent_container.find('input').attr('name', 'continent_' + key_word)
                new_continent_container.find('label').attr('for', new_id)
                new_continent_container.find('label').text(key)
                new_continent_container.find('div').attr('onclick', new_onclick)
                new_continent_collapse.attr('id', 'id_collapse_' + key_word)

                // inserting new elements
                $(basic_continent_container).before(new_continent_container)
                $(basic_continent_container).before(new_continent_collapse)

                var basic_network_container = new_continent_collapse.find('.row')
                $.each(network, function(ind, val){
                    console.log(ind, val[0], val[1])
                    var new_network = basic_network_container.clone(true, true)
                    new_network.find('input').attr('id', 'id_'+val[0])
                    new_network.find('input').attr('value', val[0])
                    new_network.find('input').attr('name', val[0])
                    new_network.find('label').attr('for', 'id_'+val[0])
                    new_network.find('label').text(val[0])
                    new_network.find('div.country').text(val[1])

                    $(basic_network_container).before(new_network)

                })
                toggle_children_class(basic_network_container, 'd-none')
           })

           // switching off the basic html pattern
           toggle_children_class(basic_continent_container, 'd-none')
           toggle_children_class(basic_continent_collapse, 'd-none')
        }

<!--Monika-->

    $('#ismn_networks').on('show.bs.modal', function(e) { // happens when dialog is activated
        get_network_info()
<!--filtering part - take care of it later-->
        var callerId = e.relatedTarget.id;
        var hiddenId = callerId.replace(/_link$/, '_params');
        var ismnDialog = $(e.currentTarget);

        ismnDialog.find('#id_target_hidden_input').val(hiddenId); // remember where the selected networks need to go

        var preselectedNetworks = $('#' + hiddenId).val();
        preselectedNetworks = preselectedNetworks.replace(/[ ]+,[ ]+/, ',').replace(/(^[ ]+|[ ]+$)/, ''); // clean string from whitespace
        var netList = preselectedNetworks.split(',');


        // reset dialog:
        ismnDialog.find('input:checkbox.continent').prop("checked", true); // enable continents
        ismnDialog.find('input:checkbox.network').prop("checked", false); // disable networks

        for (var net of netList) { // check the preselected networks
            ismnDialog.find('input:checkbox[name='+ net +']').prop( "checked", true );
        }
    });


<!--Monika-->
    function setISMNDepth(source) {
        var ismnDialog = $(source).closest('#ismn_depth');
        var hiddenId = ismnDialog.find('#id_target_hidden_input_depth').val();
        var default_values = $('#'+hiddenId).val().split(',')
        var depthCheckbox = $('#'+hiddenId).siblings('input:checkbox')

        var depth_from = $('#depth_from').val()
        var depth_to = $('#depth_to').val()
        var range = [depth_from, depth_to]
        if(depth_from > depth_to){
            console.log(parseFloat(default_values[0]))
            $('#'+hiddenId).val(default_values);
            alert('"Depth from" value is higher than "Depth to". Choose another range or values will be set to the default ones (0.00-0.10 m).')
        }
        depthCheckbox.prop('checked', true)
    }

    function getDefaultParams(e){
        var callerId = e.relatedTarget.id;
        var hiddenId = callerId.replace(/_link$/, '_params');
        var default_values = $('#'+hiddenId).val()
        var ismnDialog = $(e.currentTarget);
        ismnDialog.find('#id_target_hidden_input_depth').val(hiddenId); // remember where the selected depths need to go
        return default_values
    }

    function getDefaultRanges(e){
        var default_val = getDefaultParams(e)
        var range = default_val.split(',')
        $('#depth_from').val(parseFloat(range[0]))
        $('#depth_to').val(parseFloat(range[1]))
        range = [$('#depth_from').val(), $('#depth_to').val()]
        return range
    }
    $('#ismn_depth').on('show.bs.modal', function(e){
        getDefaultRanges(e)
    });

<!--Monika-->

</script>
