<div class="modal" id="ismn_networks" role="dialog" aria-labelledby="ismn_networks_title" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 25rem;">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="my-0 font-weight-normal" id="ismn_networks_title">Select ISMN networks</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>

            <div class="modal-body overflow-auto" style="max-height: 60vh;">

                <style type="text/css">
                    .ismn_label { display:inline-block; }
                    .ismn_indent { margin-left: 1rem; }
                </style>

                <p>
                    You can find more information about the ISMN networks on the <a href="https://ismn.geo.tuwien.ac.at/en/sites/networks/"
                    target="_blank">ISMN networks list</a>.
                </p>

                <div>
                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_continent_africa" value="Africa" type="checkbox" name="continent_africa"
                            onchange="toggleISMNContinent(this)" checked>
                        <label class="custom-control-label" for="id_continent_africa"></label>
                        <div onclick="$('#id_collapse_africa').collapse('toggle')" class="ismn_label link-primary">Africa</div>
                    </div>
                </div>
                <div class="collapse ismn_indent" id="id_collapse_africa">
                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_AMMA-CATCH" value="AMMA-CATCH" type="checkbox" checked name="AMMA-CATCH">
                        <label class="custom-control-label" for="id_AMMA-CATCH">AMMA-CATCH</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_CARBOAFRICA" value="CARBOAFRICA" type="checkbox" checked name="CARBOAFRICA">
                        <label class="custom-control-label" for="id_CARBOAFRICA">CARBOAFRICA</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_DAHRA" value="DAHRA" type="checkbox" checked name="DAHRA">
                        <label class="custom-control-label" for="id_DAHRA">DAHRA</label>
                    </div>
                </div>

                <div>
                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_continent_asia" value="asia" type="checkbox" name="continent_asia"
                            onchange="toggleISMNContinent(this)" checked>
                        <label class="custom-control-label" for="id_continent_asia"></label>
                        <div onclick="$('#id_collapse_asia').collapse('toggle')" class="ismn_label link-primary">Asia</div>
                    </div>
                </div>
                <div class="collapse ismn_indent" id="id_collapse_asia">
                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_CHINA" value="CHINA" type="checkbox" checked name="CHINA">
                        <label class="custom-control-label" for="id_CHINA">CHINA</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_CTP_SMTMN" value="CTP_SMTMN" type="checkbox" checked name="CTP_SMTMN">
                        <label class="custom-control-label" for="id_CTP_SMTMN">CTP_SMTMN</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_HiWATER_EHWSN" value="HiWATER_EHWSN" type="checkbox" checked name="HiWATER_EHWSN">
                        <label class="custom-control-label" for="id_HiWATER_EHWSN">HiWATER_EHWSN</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_HSC_SELMACHEON" value="HSC_SELMACHEON" type="checkbox" checked name="HSC_SELMACHEON">
                        <label class="custom-control-label" for="id_HSC_SELMACHEON">HSC_SELMACHEON</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_HYU_CHEONGMICHEON" value="HYU_CHEONGMICHEON" type="checkbox" checked name="HYU_CHEONGMICHEON">
                        <label class="custom-control-label" for="id_HYU_CHEONGMICHEON">HYU_CHEONGMICHEON</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_IIT_KANPUR" value="IIT_KANPUR" type="checkbox" checked name="IIT_KANPUR">
                        <label class="custom-control-label" for="id_IIT_KANPUR">IIT_KANPUR</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_KHOREZM" value="KHOREZM" type="checkbox" checked name="KHOREZM">
                        <label class="custom-control-label" for="id_KHOREZM">KHOREZM</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_MAQU" value="MAQU" type="checkbox" checked name="MAQU">
                        <label class="custom-control-label" for="id_MAQU">MAQU</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_MONGOLIA" value="MONGOLIA" type="checkbox" checked name="MONGOLIA">
                        <label class="custom-control-label" for="id_MONGOLIA">MONGOLIA</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_MySMNet" value="MySMNet" type="checkbox" checked name="MySMNet">
                        <label class="custom-control-label" for="id_MySMNet">MySMNet</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_RUSWET-AGRO" value="RUSWET-AGRO" type="checkbox" checked name="RUSWET-AGRO">
                        <label class="custom-control-label" for="id_RUSWET-AGRO">RUSWET-AGRO</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_RUSWET-GRASS" value="RUSWET-GRASS" type="checkbox" checked name="RUSWET-GRASS">
                        <label class="custom-control-label" for="id_RUSWET-GRASS">RUSWET-GRASS</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_RUSWET-VALDAI" value="RUSWET-VALDAI" type="checkbox" checked name="RUSWET-VALDAI">
                        <label class="custom-control-label" for="id_RUSWET-VALDAI">RUSWET-VALDAI</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_SKKU" value="SKKU" type="checkbox" checked name="SKKU">
                        <label class="custom-control-label" for="id_SKKU">SKKU</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_SW-WHU" value="SW-WHU" type="checkbox" checked name="SW-WHU">
                        <label class="custom-control-label" for="id_SW-WHU">SW-WHU</label>
                    </div>
                </div>

                <div>
                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_continent_australia" value="australia" type="checkbox" name="continent_australia"
                            onchange="toggleISMNContinent(this)" checked>
                        <label class="custom-control-label" for="id_continent_australia"></label>
                        <div onclick="$('#id_collapse_australia').collapse('toggle')" class="ismn_label link-primary">Australia</div>
                    </div>
                </div>
                <div class="collapse ismn_indent" id="id_collapse_australia">
                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_AACES" value="AACES" type="checkbox" checked name="AACES">
                        <label class="custom-control-label" for="id_AACES">AACES</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_OZNET" value="OZNET" type="checkbox" checked name="OZNET">
                        <label class="custom-control-label" for="id_OZNET">OZNET</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_SASMAS" value="SASMAS" type="checkbox" checked name="SASMAS">
                        <label class="custom-control-label" for="id_SASMAS">SASMAS</label>
                    </div>
                </div>

                <div>
                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_continent_europe" value="europe" type="checkbox" name="continent_europe"
                            onchange="toggleISMNContinent(this)" checked>
                        <label class="custom-control-label" for="id_continent_europe"></label>
                        <div onclick="$('#id_collapse_europe').collapse('toggle')" class="ismn_label link-primary">Europe</div>
                    </div>
                </div>
                <div class="collapse ismn_indent" id="id_collapse_europe">
                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_BIEBRZA_S-1" value="BIEBRZA_S-1" type="checkbox" checked name="BIEBRZA_S-1">
                        <label class="custom-control-label" for="id_BIEBRZA_S-1">BIEBRZA_S-1</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_CALABRIA" value="CALABRIA" type="checkbox" checked name="CALABRIA">
                        <label class="custom-control-label" for="id_CALABRIA">CALABRIA</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_CAMPANIA" value="CAMPANIA" type="checkbox" checked name="CAMPANIA">
                        <label class="custom-control-label" for="id_CAMPANIA">CAMPANIA</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_FMI" value="FMI" type="checkbox" checked name="FMI">
                        <label class="custom-control-label" for="id_FMI">FMI</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_FR_Aqui" value="FR_Aqui" type="checkbox" checked name="FR_Aqui">
                        <label class="custom-control-label" for="id_FR_Aqui">FR_Aqui</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_GTK" value="GTK" type="checkbox" checked name="GTK">
                        <label class="custom-control-label" for="id_GTK">GTK</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_HOBE" value="HOBE" type="checkbox" checked name="HOBE">
                        <label class="custom-control-label" for="id_HOBE">HOBE</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_HYDROL-NET_PERUGIA" value="HYDROL-NET_PERUGIA" type="checkbox" checked name="HYDROL-NET_PERUGIA">
                        <label class="custom-control-label" for="id_HYDROL-NET_PERUGIA">HYDROL-NET_PERUGIA</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_METEROBS" value="METEROBS" type="checkbox" checked name="METEROBS">
                        <label class="custom-control-label" for="id_METEROBS">METEROBS</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_MOL-RAO" value="MOL-RAO" type="checkbox" checked name="MOL-RAO">
                        <label class="custom-control-label" for="id_MOL-RAO">MOL-RAO</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_ORACLE" value="ORACLE" type="checkbox" checked name="ORACLE">
                        <label class="custom-control-label" for="id_ORACLE">ORACLE</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_REMEDHUS" value="REMEDHUS" type="checkbox" checked name="REMEDHUS">
                        <label class="custom-control-label" for="id_REMEDHUS">REMEDHUS</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_RSMN" value="RSMN" type="checkbox" checked name="RSMN">
                        <label class="custom-control-label" for="id_RSMN">RSMN</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_SMOSMANIA" value="SMOSMANIA" type="checkbox" checked name="SMOSMANIA">
                        <label class="custom-control-label" for="id_SMOSMANIA">SMOSMANIA</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_SWEX_POLAND" value="SWEX_POLAND" type="checkbox" checked name="SWEX_POLAND">
                        <label class="custom-control-label" for="id_SWEX_POLAND">SWEX_POLAND</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_TERENO" value="TERENO" type="checkbox" checked name="TERENO">
                        <label class="custom-control-label" for="id_TERENO">TERENO</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_UDC_SMOS" value="UDC_SMOS" type="checkbox" checked name="UDC_SMOS">
                        <label class="custom-control-label" for="id_UDC_SMOS">UDC_SMOS</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_UMBRIA" value="UMBRIA" type="checkbox" checked name="UMBRIA">
                        <label class="custom-control-label" for="id_UMBRIA">UMBRIA</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_UMSUOL" value="UMSUOL" type="checkbox" checked name="UMSUOL">
                        <label class="custom-control-label" for="id_UMSUOL">UMSUOL</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_VAS" value="VAS" type="checkbox" checked name="VAS">
                        <label class="custom-control-label" for="id_VAS">VAS</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_WEGENERNET" value="WEGENERNET" type="checkbox" checked name="WEGENERNET">
                        <label class="custom-control-label" for="id_WEGENERNET">WEGENERNET</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_WSMN" value="WSMN" type="checkbox" checked name="WSMN">
                        <label class="custom-control-label" for="id_WSMN">WSMN</label>
                    </div>
                </div>

                <div>
                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_continent_north_america" value="north_america" type="checkbox" name="continent_north_america"
                            onchange="toggleISMNContinent(this)" checked>
                        <label class="custom-control-label" for="id_continent_north_america"></label>
                        <div onclick="$('#id_collapse_north_america').collapse('toggle')" class="ismn_label link-primary">North America</div>
                    </div>
                </div>
                <div class="collapse ismn_indent" id="id_collapse_north_america">
                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_ARM" value="ARM" type="checkbox" checked name="ARM">
                        <label class="custom-control-label" for="id_ARM">ARM</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_AWDN" value="AWDN" type="checkbox" checked name="AWDN">
                        <label class="custom-control-label" for="id_AWDN">AWDN</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_BNZ-LTER" value="BNZ-LTER" type="checkbox" checked name="BNZ-LTER">
                        <label class="custom-control-label" for="id_BNZ-LTER">BNZ-LTER</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_COSMOS" value="COSMOS" type="checkbox" checked name="COSMOS">
                        <label class="custom-control-label" for="id_COSMOS">COSMOS</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_FLUXNET-AMERIFLUX" value="FLUXNET-AMERIFLUX" type="checkbox" checked name="FLUXNET-AMERIFLUX">
                        <label class="custom-control-label" for="id_FLUXNET-AMERIFLUX">FLUXNET-AMERIFLUX</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_ICN" value="ICN" type="checkbox" checked name="ICN">
                        <label class="custom-control-label" for="id_ICN">ICN</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_IOWA" value="IOWA" type="checkbox" checked name="IOWA">
                        <label class="custom-control-label" for="id_IOWA">IOWA</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_iRON" value="iRON" type="checkbox" checked name="iRON">
                        <label class="custom-control-label" for="id_iRON">iRON</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_PBO_H2O" value="PBO_H2O" type="checkbox" checked name="PBO_H2O">
                        <label class="custom-control-label" for="id_PBO_H2O">PBO_H2O</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_RISMA" value="RISMA" type="checkbox" checked name="RISMA">
                        <label class="custom-control-label" for="id_RISMA">RISMA</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_SCAN" value="SCAN" type="checkbox" checked name="SCAN">
                        <label class="custom-control-label" for="id_SCAN">SCAN</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_SNOTEL" value="SNOTEL" type="checkbox" checked name="SNOTEL">
                        <label class="custom-control-label" for="id_SNOTEL">SNOTEL</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_SOILSCAPE" value="SOILSCAPE" type="checkbox" checked name="SOILSCAPE">
                        <label class="custom-control-label" for="id_SOILSCAPE">SOILSCAPE</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_USCRN" value="USCRN" type="checkbox" checked name="USCRN">
                        <label class="custom-control-label" for="id_USCRN">USCRN</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_USDA-ARS" value="USDA-ARS" type="checkbox" checked name="USDA-ARS">
                        <label class="custom-control-label" for="id_USDA-ARS">USDA-ARS</label>
                    </div>
                </div>

                <div>
                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_continent_south_america" value="south_america" type="checkbox" name="continent_south_america"
                            onchange="toggleISMNContinent(this)" checked>
                        <label class="custom-control-label" for="id_continent_south_america"></label>
                        <div onclick="$('#id_collapse_south_america').collapse('toggle')" class="ismn_label link-primary">South America</div>
                    </div>
                </div>
                <div class="collapse ismn_indent" id="id_collapse_south_america">
                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="id_LAB-net" value="LAB-net" type="checkbox" checked name="LAB-net">
                        <label class="custom-control-label" for="id_LAB-net">LAB-net</label>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="ismn_networks_button" type="button" onclick="setISMNNetworks()" class="btn btn-primary">Use networks</button>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    function toggleISMNContinent(checkbox) {
        var groupId = checkbox.id.replace(/^id_continent_/, 'id_collapse_')
        var filterboxes = $('#' + groupId).find('input:checkbox');
        var newValue = checkbox.checked;
        for (var f of filterboxes) {
            f.checked=newValue;
        }
    }

    function setISMNNetworks() {
        alert('set!');
    }

    $('#ismn_networks').on('show.bs.modal', function(e) { // happens when dialog is activated
        var callerId = e.relatedTarget.id;
        var hiddenId = callerId.replace(/_link$/, '_params');
        var ismnDialog = $(e.currentTarget);
        var preselectedNetworks = $('#' + hiddenId).val();
        preselectedNetworks = preselectedNetworks.replace(/[ ]+,[ ]+/, ',').replace(/(^[ ]+|[ ]+$)/, ''); // clean string from whitespace
        var netList = preselectedNetworks.split(',');

        for (var cb of ismnDialog.find('input:checkbox')) { // reset all checkboxes
            if(cb.id.match('^id_continent_')) { // check continents
                cb.checked=true;
            } else { // uncheck networks
                cb.checked=false;
            }
        }

        for (var net of netList) { // check the preselected networks
            ismnDialog.find('input:checkbox[name='+ net +']').prop( "checked", true );
        }
    });

</script>
