{% extends 'common/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <form action="{% url 'validation' %}" method="post" id="validation_form" data-options-url="{% url 'ajax_get_dataset_options' %}">
        {% csrf_token %}

        {% with WIDGET_ERROR_CLASS='is-invalid' %}

            {% if maintenance_mode is True  %}
                <div class="container text-center mb-5 mt-4" style="max-width: 40rem;">
                    <h1 class="jumbotron-heading">Maintenance...</h1>
                    <p class="lead text-muted">Sorry! Currently, you can't start new validations because we're doing maintenance on the service. Please come back later.</p>
                </div>

            {% else %}
                <div class="container center-text">

                    <div class="card-deck">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Data</h4>
                                <span class="input-group-text fas fa-question-circle help-icon"
                                    title="The soil moisture dataset which is to be validated, i.e. compared to the 'Reference' data."></span>
                            </div>

                            {% for error in dc_formset.non_form_errors %}
                                <div class="custom-invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}

                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    {% for dc_form in dc_formset %}
                                        <a class="dc_form_link nav-item nav-link {% if forloop.first %}active{% endif %}" id="id_{{ dc_form.prefix }}-tab" data-toggle="tab" href="#id_{{ dc_form.prefix }}" role="tab" aria-controls="id_{{ dc_form.prefix }}" {% if forloop.first %}aria-selected="true"{% endif %}>Dataset</a>
                                    {% endfor %}
                                        <a id="add_dc_form" class="tab-plus btn btn-primary" href="javascript:void(0)"><span class="fas fa-plus" title="Add another dataset"></span></a>
                                </div>
                            </nav>

                            {{ dc_formset.management_form }}

                            <div id="dc_form_container" class="card-body tab-content">

                                {% for dc_form in dc_formset.forms %}
                                    <div class="dc_form tab-pane fade {% if forloop.first %}show active{% endif %}" id="id_{{ dc_form.prefix }}" role="tabpanel" aria-labelledby="id_{{ dc_form.prefix }}-tab">
                                        <div class="mb-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text addon-w" id="data-addon1">Dataset</span>
                                                </div>
                                                {% render_field dc_form.dataset class="custom-select d-block" %}
                                            </div>
                                            {% for error in dc_form.dataset.errors %}
                                                <div class="custom-invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        </div>

                                        <div class="mb-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text addon-w" id="data-addon2">Version</span>
                                                </div>
                                                {% render_field dc_form.version class="custom-select d-block" %}
                                            </div>
                                            {% for error in dc_form.version.errors %}
                                                <div class="custom-invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        </div>

                                        <div class="mb-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text addon-w" id="data-addon3">Variable</span>
                                                </div>
                                                {% render_field dc_form.variable class="custom-select d-block" %}
                                            </div>
                                            {% for error in dc_form.variable.errors %}
                                                <div class="custom-invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        </div>

                                        <hr/>

                                        <div class="custom-control custom-switch">
                                            <input class="custom-control-input" id="{{dc_form.filter_dataset.auto_id}}" name="{{dc_form.prefix}}-{{dc_form.filter_dataset.name}}"
                                                {{ dc_form.filter_dataset.initial|yesno:'checked,,' }} type="checkbox" onclick="toggleFiltering(this)">
                                            <label class="custom-control-label" for="{{dc_form.filter_dataset.auto_id}}">{{dc_form.filter_dataset.label}}</label>

                                            <span class="input-group-text fas fa-question-circle help-icon"
                                                title="Only data which meet the specified criteria will be used in the validation. Several filters can be simultaneously selected for one dataset. You can also omit filtering completely."></span>
                                        </div>

                                        <div id="id_{{dc_form.prefix}}-filters" class="indented tabSpecific">
                                            {{ dc_form.filters }}
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>

                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Reference</h4>
                                <span class="input-group-text fas fa-question-circle help-icon"
                                    title="The data which is to be used as a reference in the validation. The 'Data' will be compared against this reference."></span>
                            </div>

                            <div style="min-height: 2.1rem;"></div>

                            <div class="card-body">
                                <div class="mb-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text addon-w" id="ref-addon1">Dataset</span>
                                        </div>
                                        {% render_field ref_dc_form.dataset class="custom-select d-block" %}
                                    </div>
                                    {% for error in ref_dc_form.dataset.errors %}
                                        <div class="custom-invalid-feedback">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="mb-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text addon-w" id="ref-addon2">Version</span>
                                        </div>
                                        {% render_field ref_dc_form.version class="custom-select d-block" %}
                                    </div>
                                    {% for error in ref_dc_form.version.errors %}
                                        <div class="custom-invalid-feedback">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="mb-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text addon-w" id="ref-addon3">Variable</span>
                                        </div>
                                        {% render_field ref_dc_form.variable class="custom-select d-block" %}
                                    </div>
                                    {% for error in ref_dc_form.variable.errors %}
                                        <div class="custom-invalid-feedback">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                </div>

                                <hr/>

                                <div class="custom-control custom-switch">
                                    <input class="custom-control-input" id="{{ref_dc_form.filter_dataset.auto_id}}" name="{{ref_dc_form.prefix}}-{{ref_dc_form.filter_dataset.name}}"
                                        {{ ref_dc_form.filter_dataset.initial|yesno:'checked,,' }} type="checkbox" onclick="toggleFiltering(this, 'ref-filters')">
                                    <label class="custom-control-label" for="{{ref_dc_form.filter_dataset.auto_id}}">{{ref_dc_form.filter_dataset.label}}</label>
                                    <span class="input-group-text fas fa-question-circle help-icon"
                                        title="Only reference data which meet the specified criteria will be used in the validation. Several filters can be simultaneously selected for one dataset. You can also omit filtering completely."></span>
                                </div>

                                <div id="id_{{ref_dc_form.prefix}}-filters" class="indented">
                                    {{ ref_dc_form.filters }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-deck">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Anomalies</h4>
                                <span class="input-group-text fas fa-question-circle help-icon"
                                    title="Optionally calculate metrics from anomalies instead of absolute values. For anomalies against climatology you have to specify the time period over which the climatology is computed."></span>
                            </div>
                            <div class="card-body">

                                <div class="container">
                                    <div class="column">

                                        <div class="row">

                                            <div class="col-sm pl-0">
                                                <div class="input-group" title="Anomalies calculation method: no anomalies, anomalies against 35 day moving average or anomalies against a climatology calculated from the given timespan.">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text addon-w" id="scaling_addon2">Method</span>
                                                    </div>
                                                    {% render_field val_form.anomalies class="custom-select d-block" %}
                                                </div>
                                                {% for error in val_form.anomalies.errors %}
                                                    <div class="custom-invalid-feedback">
                                                        {{ error }}
                                                    </div>
                                                {% endfor %}
                                            </div>

                                            <div class="col-sm anomalies-period"> <!-- style="visibility: hidden;" -->
                                                <div class="input-group" title="Start of period to calculate climatology from.">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text addon-w" id="scaling_addon2">From</span>
                                                    </div>
                                                    {% render_field val_form.anomalies_from class="custom-select d-block" %}
                                                </div>
                                                {% for error in val_form.anomalies_from.errors %}
                                                    <div class="custom-invalid-feedback">
                                                        {{ error }}
                                                    </div>
                                                {% endfor %}
                                            </div>

                                            <div class="col-sm pr-0 anomalies-period"> <!--  style="visibility: hidden;" -->
                                                <div class="input-group" title="End of period to calculate climatology from.">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text addon-w" id="scaling_addon2">To</span>
                                                    </div>
                                                    {% render_field val_form.anomalies_to class="custom-select d-block" %}
                                                </div>
                                                {% for error in val_form.anomalies_to.errors %}
                                                    <div class="custom-invalid-feedback">
                                                        {{ error }}
                                                    </div>
                                                {% endfor %}
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-deck">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Validation Period</h4>
                                <span class="input-group-text fas fa-question-circle help-icon"
                                    title="Restricts the input and reference data to the time period given. Days 'from' and 'to' are fully included in the interval."></span>
                            </div>
                            <div class="card-body">

                                <div class="container">
                                    <div class="row">

                                        <div class="col-sm pl-0">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text addon-w" id="scaling_addon1">From</span>
                                                </div>
                                                {% render_field val_form.interval_from class="custom-select d-block" %}
                                            </div>
                                            {% for error in val_form.interval_from.errors %}
                                                <div class="custom-invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        </div>

                                        <div class="col-sm pr-0">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text addon-w" id="scaling_addon2">To</span>
                                                </div>
                                                {% render_field val_form.interval_to class="custom-select d-block" %}
                                            </div>
                                            {% for error in val_form.interval_to.errors %}
                                                <div class="custom-invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-deck">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Spatial Subsetting</h4>
                                <span class="input-group-text fas fa-question-circle help-icon"
                                    title="Restricts the input and reference data to the bounding box given."></span>
                            </div>
                            <div class="card-body">
                                <div class="container">
                                    <div class="row">

                                        <div class="col-sm pl-0">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text addon-w" id="scaling_addon1">Lower left lat</span>
                                                </div>
                                                {% render_field val_form.min_lat class="custom-select d-block" %}
                                            </div>
                                            {% for error in val_form.min_lat.errors %}
                                                <div class="custom-invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        </div>

                                        <div class="col-sm pl-0">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text addon-w" id="scaling_addon1">Upper right lat </span>
                                                </div>
                                                {% render_field val_form.max_lat class="custom-select d-block" %}
                                            </div>
                                            {% for error in val_form.max_lat.errors %}
                                                <div class="custom-invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-sm pl-0">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text addon-w" id="scaling_addon1">Lower left long</span>
                                                </div>
                                                {% render_field val_form.min_lon class="custom-select d-block" %}
                                            </div>
                                            {% for error in val_form.min_lon.errors %}
                                                <div class="custom-invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        </div>

                                        <div class="col-sm pl-0">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text addon-w" id="scaling_addon1">Upper right long</span>
                                                </div>
                                                {% render_field val_form.max_lon class="custom-select d-block" %}
                                            </div>
                                            {% for error in val_form.max_lon.errors %}
                                                <div class="custom-invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mapDialog">
                                Select on map
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card-deck">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Validation Period</h4>
                                <span class="input-group-text fas fa-question-circle help-icon"
                                    title="Restricts the input and reference data to the time period given. Days 'from' and 'to' are fully included in the interval."></span>
                            </div>
                            <div class="card-body">

                                <div class="container">
                                    <div class="row">

                                        <div class="col-sm pl-0">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text addon-w" id="scaling_addon1">From</span>
                                                </div>
                                                {% render_field val_form.interval_from class="custom-select d-block" %}
                                            </div>
                                            {% for error in val_form.interval_from.errors %}
                                                <div class="custom-invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        </div>

                                        <div class="col-sm pr-0">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text addon-w" id="scaling_addon2">To</span>
                                                </div>
                                                {% render_field val_form.interval_to class="custom-select d-block" %}
                                            </div>
                                            {% for error in val_form.interval_to.errors %}
                                                <div class="custom-invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="card-deck">

                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Scaling</h4>
                                <span class="input-group-text fas fa-question-circle help-icon"
                                    title="The data values will be scaled to the value range of the selected dataset using the selected method. When validating more than one dataset, values will always be scaled to the reference."></span>
                            </div>
                            <div class="card-body">

                                <div class="container">
                                    <div class="row">

                                        <div class="col-sm pl-0">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text addon-w" id="scaling_addon1">Scale To</span>
                                                </div>
                                                {% render_field val_form.scaling_ref class="custom-select d-block" %}
                                            </div>
                                            {% for error in val_form.scaling_ref.errors %}
                                                <div class="custom-invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        </div>

                                        <div class="col-sm pr-0">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text addon-w" id="scaling_addon2">Method</span>
                                                </div>
                                                {% render_field val_form.scaling_method class="custom-select d-block" %}
                                            </div>
                                            {% for error in val_form.scaling_method.errors %}
                                                <div class="custom-invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text addon-w" id="tag-addon1">Name your validation</span>
                        </div>
                        {% render_field val_form.name_tag class="d-block form-control" %}
                        <div class="input-group-append">
                            <span class="input-group-text fas fa-question-circle" id="tag-addon2" title="You can optionally name the validation to make it easier to identify in your list of validations."></span>
                        </div>
                    </div>
                    {% for error in val_form.name_tag.errors %}
                        <div class="custom-invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}


                    <input class="btn btn-lg btn-primary mb-3" type="submit" value="&#9658; Validate">
                </div>
            {% endif %}
        {% endwith %}
    </form>


<div class="modal" id="mapDialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Select bounding box</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
       <div style="width: 760px; height: 400px;" id="spatialFilterMap"></div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button id="setCoordinatesButton" type="button" onclick="setCoordinates()" class="btn btn-primary" id="useCoordinatesButton" data-dismiss="modal">Use coordinates</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
    <link rel="stylesheet" href="/static/leaflet/leaflet.css" />
    <script src="/static/leaflet/leaflet.js"></script>
    <link rel="stylesheet" href="/static/leaflet/leaflet.draw.css" />
    <script src="/static/leaflet/leaflet.draw.js"></script>

    <script type="text/javascript">
        var map = L.map('spatialFilterMap');
        var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var osmAttrib='Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors';
        var osm = new L.TileLayer(osmUrl, {minZoom: 1, maxZoom: 20, attribution: osmAttrib});
        var drawnItems = new L.FeatureGroup();

        map.addLayer(drawnItems);

        var drawControl = new L.Control.Draw({
                draw: {
                polygon: false,
                polyline: false,
                circle: false,
                circlemarker: false,
                marker: false
            },
            edit: {
                featureGroup: drawnItems
            }
        });
        map.addControl(drawControl);

        function setCoordinates(){
            coordinates=drawnItems.getLayers()[0].getLatLngs();

            $('#id_min_lat').val(coordinates[0][0].lat);
            $('#id_min_lon').val(coordinates[0][0].lng);

            $('#id_max_lat').val(coordinates[0][2].lat);
            $('#id_max_lon').val(coordinates[0][2].lng);
        }

        map.on('draw:created', function (e) {
            var type = e.layerType,
            layer = e.layer;

            if (type === 'rectangle') {
                layer.on('mouseover', function() {
                //alert(layer.getLatLngs());
                });
            }

            drawnItems.addLayer(layer);
            $('#setCoordinatesButton').prop('disabled', false);
        });


        $('#mapDialog').on('show.bs.modal', function(){
              setTimeout(function() {
                map.invalidateSize();
                $('#setCoordinatesButton').prop('disabled', true);
                drawnItems.clearLayers();
              }, 10);
         });

        map.setView(new L.LatLng(51.3, 32.0),3.4);
        map.addLayer(osm);
    </script>

    <script type="text/javascript">
        function toggleFiltering(checkbox) {
            var groupId = checkbox.id.replace(/filter_dataset$/, 'filters')
            var filterboxes = $('#' + groupId).find('input:checkbox');
            var newDisabledValue = !checkbox.checked;
            for (var f of filterboxes) {
                f.disabled=newDisabledValue;
            }
        }
        // on page load, call once:
        {% for dc_form in dc_formset.forms %}
            toggleFiltering($('#{{dc_form.filter_dataset.auto_id}}')[0]);
        {% endfor %}
        toggleFiltering($('#{{ref_dc_form.filter_dataset.auto_id}}')[0]);
    </script>

    <script type="text/javascript">
        function ajax_change_dataset() {
            var url = $("#validation_form").attr("data-options-url");
            var datasetId = $(this).val();
            var widgetId = $(this).attr('id');
            var filterWidgetId = widgetId.replace(/dataset$/, "filters");
            $.ajax({
                url: url,
                data: { 'dataset_id': datasetId, 'filter_widget_id': filterWidgetId },
                success: function (return_data) {
                    var dataset_widget = "#" + widgetId;
                    var version_widget = dataset_widget.replace(/dataset$/, "version");
                    var variable_widget = dataset_widget.replace(/dataset$/, "variable");
                    var filter_widget = "#" + filterWidgetId;
                    $(version_widget).html(return_data['versions']);
                    $(variable_widget).html(return_data['variables']);
                    $(filter_widget).html(return_data['filters']);
                }
            });
        }

        function change_tab_name() {
            var datasetName = $(this).find('option:selected').text();
            var tabId = '#' + $(this).attr('id').replace(/dataset$/, 'tab');
            $(tabId).text(datasetName);
        }

        {% for dc_form in dc_formset.forms %}
            $("#{{ dc_form.dataset.auto_id }}").change(ajax_change_dataset).change(change_tab_name).change(); // last change() to call change on pageload
        {% endfor %}
        $("#{{ ref_dc_form.dataset.auto_id }}").change(ajax_change_dataset).change(); // last change() to call change on pageload
    </script>

    <script type="text/javascript">
        function onChangeAnomalies() {
            var anomMethod = $(this).val();
            var dateBoxes = $('div.anomalies-period');
            var dateSelectors = dateBoxes.find('select')

            if(anomMethod == 'climatology') {
                dateSelectors.prop('disabled', false);
                dateBoxes.css('visibility', 'visible');
            } else {
                dateSelectors.prop('disabled', true);
                dateBoxes.css('visibility', 'hidden');
            }
        }
        $('#{{ val_form.anomalies.auto_id }}').change(onChangeAnomalies).change(); // last change() to call change on pageload
    </script>

    <script type="text/javascript">
        function cloneTab(tabContentClass, tabLinkClass, formsetPrefix, addButton) {
            var selector = tabContentClass + ':last';
            var link_selector = tabLinkClass + ':last';
            var totalSelector = '#id_' + formsetPrefix + '-TOTAL_FORMS';
            var maxSelector = '#id_' + formsetPrefix + '-MAX_NUM_FORMS';

            var totalNoForms = $(totalSelector).val();
            var oldId = $(selector).attr('id');
            var newId = 'id_' + formsetPrefix + '-' + totalNoForms;
            var newTabId = newId + '-tab';

            // de-select currently selected tab
            $(tabContentClass + '.active').removeClass( "active show" );
            $(tabLinkClass + '.active').removeAttr('aria-selected');
            $(tabLinkClass + '.active').removeClass( "active show" );

            // clone tab content
            var newElement = $(selector).clone(true);
            newElement.attr('id', newId);
            newElement.attr('aria-labelledby', newTabId);

            newElement.find(':input').each(function() {
                var id = $(this).attr('id').replace(oldId, newId);
                var name = id.replace(/^id_/, '')
                $(this).attr({'name': name, 'id': id});
            });
            newElement.find('label').each(function() {
                var newFor = $(this).attr('for').replace(oldId, newId);
                $(this).attr('for', newFor);
            });
            newElement.find('.tabSpecific').each(function() {
                var id = $(this).attr('id').replace(oldId, newId);
                $(this).attr('id', id);
            });

            // clone tab link
            var newLink = $(link_selector).clone(false);
            newLink.attr('id', newTabId);
            newLink.attr('href', '#' + newId);
            newLink.attr('aria-controls', '#' + newId);

            totalNoForms++;
            $(totalSelector).val(totalNoForms);

            // insert new tab and link and select it
            $(selector).after(newElement);
            $(link_selector).after(newLink);
            newLink.tab('show')

            // prevent addition of new tabs if max reached
            if ( totalNoForms >= $(maxSelector).val() ) {
                addButton.hide();
            }

            // trigger change event on dataset select so that dependent parameters are set correctly
            $('#' + newId + '-dataset').change();
        }

        function setScalingRef() {
            $("#id_scaling_ref option[value='data']").remove();
            $("#id_scaling_ref").val("ref");
        }

        $('#add_dc_form').click(function() {
            cloneTab('.dc_form', '.dc_form_link', 'datasets', $(this));
            setScalingRef();
        });
    </script>

{% endblock %}

