@import "~bootstrap/dist/css/bootstrap.css";
@import "src/styles";

.dropdown {
  position: relative;
  background: none;
  display: inline-block;
}

.dropdownbutton {
  background-color: inherit;
  color: #003eff;
  padding: 8px;
  font-size: 1em;
  border: none;
  display: inline-block;
  white-space: normal;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropdownbutton {-webkit-transform: scale(1.1);}

.dropdown-item.navbar-btn-active {
  color: initial;
}

.dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover {
  background-color: rgba(248, 193, 0, .5);
}
a.no-decorations {
  text-decoration: none;
}
.hidden {
  visibility: hidden;
}
