@use 'src/style.variables' as *;

.btn-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


.dropdown {
  position: relative;
  background: none;
  display: inline-block;
}

.dropdownbutton {
  background-color: inherit;
  color: $base-color;
  padding: 8px;
  font-size: 1em;
  border: none;
  display: inline-block;
  white-space: normal;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $background-color;
  color: $font-color-base;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover {
  background-color: $base-color;
}

a.no-decorations{
  text-decoration: none;
}

.collapse:not(.show) {
  display: none;
}

#publishingInProgress {
  font-family: $base-font;
  text-align: right;
  font-size: 1.0rem;
}

@media screen and (max-width: 714.9px){
  .col-sm{
    padding: 0;
    height: 100%;
  }
}
